<template>
  <div style="padding: 0 60px;">
    <m-logo :class="[$style.logo, 'flex fl-fs']"></m-logo>
    <div :class="$style.notification">
      <span v-if="unread.length > 0">{{unread.length}}</span>
      <a-menu-button name="notification" @click="openNotification"></a-menu-button>
    </div>
    <m-notification v-if="notificationOpen" :notifications="notifications"></m-notification>
    <div :class="$style.tickets">
      <m-menu :type="me.type"></m-menu>
      <div style="width: 95.5%;">
        <div :class="[$style.ticketsHeader, 'flex fl-sb']">
          <div :class="$style.ticketsHeaderFirst">
            <div :class="$style.ticketsHeaderFirstNav">
              <span>Настройки</span>
            </div>
            <div :class="$style.ticketsHeaderFirstSearch">
              <a-input block></a-input>
            </div>
          </div>
        </div>
        <div :class="[$style.ticketsList]">
          <div :class="$style.personal">
            <div :class="[$style.personalHeader, 'ph5', 'pv2', 'flex']">
              <div :class="[$style.personalAvatar, 'mr2']">
                <img :src="me.avatar" alt="Аватар">
                <div :class="['flex', 'fl-sa', 'fl-aic']">
                  <input type="file" style="display: none" id="file" @change="loadFile" accept="image/*">
                  <a-button color="none" name="cog" modificator="ordinary" @click="openFile"></a-button>
                  <a-button v-if="!isImagePresent" color="none" name="trash" modificator="ordinary" @click="deleteImage"></a-button>
                </div>
              </div>
              <div :class="['flex', 'fl-dc', 'fl-sb', $style.personalHeaderInfo]">
                <div class="">
                  <p>{{me.name}}</p>
                  <p>{{me.username}}</p>
                </div>
                <div>
                  <p v-if="me.type === 'employee'">{{me.position || 'Должность не назначена'}}</p>
                  <p>{{me.email}}</p>
                </div>
              </div>
            </div>
            <div :class="['ph5', 'flex', 'pt1']">
              <form @submit.prevent="update">
                <m-input-group name="name" label="Имя" width="300px" :value="me.name"></m-input-group>
                <m-input-group name="username" label="ID" :value="me.username"></m-input-group>
                <m-input-group v-if="me.type === 'employee'" name="position" label="Должность" :value="me.position"></m-input-group>
                <m-input-group name="email" label="Электронная почта" :value="me.email"></m-input-group>
                <m-input-group name="password" label="Пароль" type="password"></m-input-group>
                <m-input-group name="rePassword" label="Подтверждение пароля" type="password"></m-input-group>
                <a-button :class="['mb3']" modificator="ordinary" color="pink" text="Сохранить"></a-button>
              </form>
            </div>
          </div>
          <o-history-list :class="$style.history" type="profile"></o-history-list>

        </div>

        <modal name="upload-photo" width="340" height="425">
          <div :class="[$style.modal, 'flex', 'fl-dc']">
            <div :class="['flex', 'fl-sb', $style.modalHeader]">
              <p>Загрузка фото</p>
              <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
            </div>
            <div :class="['flex', 'fl-dc', 'fl-sb', 'fl-aic', $style.modalBody]">
              <img :src="imageSrc" alt="Preview image" :class="$style.personalImage">
              <div :class="['flex', 'fl-sa']">
                <a-button modificator="ordinary" text="сохранить" color="pink" class="mh1" @click="uploadFile"></a-button>
                <a-button modificator="ordinary" text="отмена" color="grey" class="mh1"></a-button>
              </div>
            </div>
          </div>
        </modal>
        <notifications group="avatar" position="top center" class="mt1"/>
        <notifications group="clients" position="top right" class="mt1"/>
      </div>
    </div>
    <m-footer :class="$style.footer"></m-footer>
  </div>
</template>

<script>
import mLogo from 'Molecules/logo'
import mFooter from 'Molecules/footer'
import mMenu from 'Molecules/menu'
import eventBus from 'EventBus'
import mNotification from 'Molecules/notification'
import mInputGroup from 'Molecules/inputGroup'
import oHistoryList from 'Organisms/historyList'

export default {
  name: 'pSettingsClient',
  components: {
    mLogo,
    mFooter,
    mMenu,
    mNotification,
    mInputGroup,
    oHistoryList
  },
  data () {
    return {
      users: null,
      notificationOpen: false,
      formData: {
        name: '',
        username: '',
        position: '',
        email: '',
        password: '',
        rePassword: ''
      },
      uploadedPhoto: '',
      imageSrc: ''
    }
  },
  computed: {
    notifications () {
      return this.$store.getters.getNotifications
    },
    unread () {
      return this.$store.getters.getUnread()
    },
    me () {
      return this.$store.getters.getCurrentUser
    },
    isImagePresent () {
      return this.me.avatar === '/images/photo-placeholder.png'
    }
  },
  methods: {
    openNotification () {
      this.notificationOpen = !this.notificationOpen
      if (this.unread.length > 0) {
        this.$api.changeUnread(this.unread).then((data) => { this.$store.commit('changeUnread', { ids: data.data }) })
      }
    },
    update () {
      this.$api.updateMe(this.formData).then(({ data }) => {
        this.$notify({
          group: 'clients',
          type: 'success',
          text: data.message,
          speed: 300
        })
        var h = []
        var tempObj = {}
        var tempString = ''
        var tempString2 = ''
        Object.keys(this.formData).map((key) => {
          if (this.formData[key] !== '' && key !== 'rePassword') {
            switch (key) {
              case 'name': tempString = 'изменили свое имя с'
                tempString2 = 'изменил/а имя с'
                break
              case 'username': tempString = 'изменили свой ID с'
                tempString2 = 'изменил/а ID с'
                break
              case 'email': tempString = 'изменили электронный адрес с'
                tempString2 = 'изменил/а адрес с'
                break
              case 'password': tempString = 'изменили свой пароль'
                tempString2 = 'изменил/а пароль'
                break
              case 'position': tempString = 'изменили свою должность c'
                tempString2 = 'изменил/а должность c'
                break
            }
            tempObj = {
              user: this.me._id,
              userTo: this.me._id,
              text: key === 'password' ? [tempString] : [tempString, 'на'],
              text2: key === 'password' ? [tempString2] : [tempString2, 'на'],
              oldData: key === 'password' ? '' : this.me[key],
              newData: key === 'password' ? '' : this.formData[key]
            }
            h.push(tempObj)
          }
        })
        this.$socket.emit('addProfileHistory', h)
        this.$store.dispatch('changeStates', data)
        this.$api.getTickets()
          .then(res => {
            this.$store.commit('fetchTickets', { tickets: res.data })
          })
      }).catch((err) => {
        eventBus.$emit('inputError', { ...err.response.data })
      })
    },
    openFile () {
      document.querySelector('#file').click()
    },
    loadFile (ev) {
      console.log(ev.target.files)
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
        this.uploadedPhoto = ev.target.files[0]
        this.$modal.show('upload-photo')
      }
    },
    closeModal () {
      this.$modal.hide('upload-photo')
    },
    uploadFile () {
      const data = new FormData()
      data.append('avatar', this.uploadedPhoto)
      this.$api.changeAvatar(this.me._id, data)
        .then(({ data }) => {
          this.$modal.hide('upload-photo')
          this.$notify({
            group: 'avatar',
            type: 'success',
            text: 'Аватар успешно обновлен',
            speed: 300
          })
          var h = []
          var tempObj = {
            user: this.me._id,
            userTo: this.me._id,
            text: ['изменили фото своего профиля'],
            text2: ['изменил/а фото профиля']
          }
          h.push(tempObj)
          this.$socket.emit('addProfileHistory', h)
          this.$store.dispatch('changeStates', data)
          this.$api.getTickets()
            .then(res => {
              this.$store.commit('fetchTickets', { tickets: res.data })
            })
        })
    },
    deleteImage () {
      this.$api.deleteImage(this.me._id)
        .then(data => {
          this.$notify({
            group: 'avatar',
            type: 'success',
            text: 'Аватар успешно удален',
            speed: 300
          })
          var h = []
          var tempObj = {
            user: this.me._id,
            userTo: this.me._id,
            text: ['удалили фото своего профиля'],
            text2: ['удалил/а фото профиля']
          }
          h.push(tempObj)
          this.$socket.emit('addProfileHistory', h)
          this.$store.dispatch('changeStates', data.data)
          this.$api.getTickets()
            .then(res => {
              this.$store.commit('fetchTickets', { tickets: res.data })
            })
        })
    }
  },
  mounted () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
  },
  sockets: {
    notificationAdded (data) {
      if (data.user[0]._id === this.$auth.currentUser().id) {
        this.$store.commit('addNewNotification', data)
      }
    }
  }
}
</script>

<style src="./style.css" module></style>
