.tickets {
  display: inline-flex;
  width: 100%;
  height: calc(100vh - 150px);
  font-family: inherit;

  &--list {
    display: inline-flex;
    width: 100%;
    height: 86.6%;
    background: var(--color-grey-light);
    padding: 5px 20px 20px;
  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 20px 25px 0;
    color: var(--color-text-secondary);
    font-weight: 300;

    &--first {
      display: inline-flex;
      padding: 20px;
      width: 100%;

      &--nav {
        width: 75%;
        display: inline-flex;

        & span {
          font-size: 2.3rem;
        }

        &--btn {
          margin-top: 3px;
        }
      }
    }
  }
}

.logo {
  padding: 32.5px 60px;
}
.footer {
  padding: 17.5px 0;
}

.personal {
  width: 80%;
  background: #fff;
  color: var(--color-text-secondary);

  &--header {
    width: 100%;
    border-bottom: 1px solid var(--color-grey-light);

    &--info {
      line-height: 1.5
    }
  }

  &--image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  &--avatar {
    width: 90px;
    height: 90px;
    position: relative;
    cursor: pointer;

    &:hover div {
      visibility: visible;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    & div {
      position: absolute;
      visibility: hidden;
      border-radius: 50%;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }
}

.history {
  width: 20%;
}


.notification {
  position: absolute;
  top: 40px;
  right: 110px;

  & span {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
    color: var(--color-pink);
    font-size: 9px;
    font-weight: 300;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 10px;
  }
}

.modal {
  height: 100%;

  &--header {
    color: #fff;
    padding: 0 20px;
    line-height: 3;
    background: var(--color-background)
  }

  &--body {
    padding: 20px;
    flex-grow: 1;
  }
}

.info {
  background-color: red;
}
