<style src="./stylesheets/reset.css" module></style>
<style src="./stylesheets/icons.css"></style>
<style src="./stylesheets/flex.css"></style>
<style src="./stylesheets/spacing.css"></style>

<template>
  <div>
    <router-view></router-view>
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'App',
  beforeMount () {
    if (this.$auth.isLoggedIn()) {
      this.$api.getUsers(this.$auth.currentUser().company)
        .then(res => {
          this.$store.commit('fetchUsers', { users: res.data })
        })
      this.$api.getTickets()
        .then(res => {
          var tickets = res.data.filter(item => {
            return !item.read
          })
          tickets.sort((a, b) => {
            return new Date(b.createdAt) - new Date(a.createdAt)
          })
          var tempTickets = res.data.filter(item => {
            return item.read
          })
          tempTickets.sort((a, b) => {
            return new Date(a.deadline) - new Date(b.deadline)
          })
          tickets = [...tickets, ...tempTickets]

          this.$store.commit('fetchTickets', { tickets })
        })
      this.$api.getHistory()
        .then(res => {
          if (this.$auth.currentUser().type === 'client') {
            this.$store.commit('fetchHistoryClient', { history: res.data })
          } else {
            this.$store.commit('fetchHistoryStaff', { history: res.data })
          }
        })
      this.$api.getHistoryProfile(this.$auth.currentUser().id)
        .then(res => {
          this.$store.commit('fetchHistoryProfile', { history: res.data })
        })
      this.$api.getClients().then(({ data }) => { this.$store.commit('fetchClients', data) })
      this.$api.getUsers().then(({ data }) => { this.$store.commit('fetchUsers', data) })
      this.$api.getNotifications().then(({ data }) => { this.$store.commit('fetchNotifications', data) })
      this.$api.getMe().then((res) => { this.$store.commit('currentUser', res.data) })
    }
  },
  components: {}
}
</script>
