.image {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;

  &--small {
    width: 30px;
    height: 30px;
  }

  &--medium {
    width: 40px;
    height: 40px;
  }

  &--big {
    width: 50px;
    height: 50px;
  }
}