<style src="./style.css" module></style>

<template>
  <main :class="[$style.page, 'flex', 'fl-dc', 'fl-c', 'fl-aic']">
    <m-logo class="flex fl-fs" titleColor="#263238"></m-logo>
    <o-login :class="$style.pageLogin"></o-login>
    <m-footer :half="true"></m-footer>
  </main>
</template>

<script type="text/javascript">
import oLogin from 'Organisms/login'
import mLogo from 'Molecules/logo'
import mFooter from 'Molecules/footer'
export default {
  name: 'Login',
  components: {
    oLogin,
    mLogo,
    mFooter
  }
}
</script>
