<style src="./style.css" module></style>
<template>
  <div :class="[$style.list, $style.listClients]">
    <a-grid :class="[$style.listHeader, 'flex fl-aic']" v-if="isClient">
      <a-grid-item grid="grid-5">
        <!-- <a-checkbox @change="checkAll"></a-checkbox> -->
        <a-checkbox :checked="checkedUsers.indexOf('all') > -1" @change="changeCheckedUsers()"></a-checkbox>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-c fl-aic">
        <a-grid>
          <a-grid-item grid="grid-3-12" class="flex fl-aic">
            <a-button name="trash" modificator="ordinary" color="pink" v-show="checkedUsers.length > 0" @click="deleteUser"></a-button>
          </a-grid-item>
          <a-grid-item grid="grid-2-12" class="flex fl-aic">
            <p>ID</p>
          </a-grid-item>
        </a-grid>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-aic" v-if="modificator !== 'staff'">
        <p>Компания</p>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" class="flex fl-aic" v-if="modificator === 'staff'">
        <p>Имя</p>
      </a-grid-item>
      <a-grid-item :grid="modificator === 'staff' ? 'grid-3-12' : 'grid-5-12'" class="flex fl-aic">
        <p>Почта</p>
      </a-grid-item>
      <a-grid-item grid="grid-3-12" class="flex fl-aic" v-if="modificator === 'staff'">
        <p>Должность</p>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-c fl-aic">
        <p>Действия</p>
      </a-grid-item>
    </a-grid>
    <div v-else :class="['flex', 'fl-c', 'fl-aic']" style="height:100%">
      <p>Здесь пусто</p>
    </div>
    <div v-if="isClient">
      <m-client :modificator="modificator" v-for="client in clients" :key="client.username" :client="client"></m-client>
    </div>
  </div>
</template>

<script>
import mClient from 'Molecules/client'
import eventBus from 'EventBus'

export default {
  name: 'oTicketList',
  props: {
    clients: Array,
    modificator: String
  },
  computed: {
    isClient () {
      return this.clients.length !== 0
    },
    checkedUsers () {
      return this.$store.getters.getCheckedUsers
    }
  },
  methods: {
    changeCheckedUsers () {
      this.$store.dispatch('changeCheckedUsers', {
        type: 'all',
        value: 'all',
        user: this.modificator
      })
    },
    deleteUser () {
      eventBus.$emit('deleteUser', { id: 'checked' })
    }
  },
  components: {
    mClient
  }
}
</script>
