<style src="./style.css" module></style>

<template>
  <div :class="$style.ticket">
    <div :class="$style.ticketHeader">
      <a-button name="arrowLeft" color="greyLight" modificator="ordinary"></a-button>
    </div>
    <div :class="$style.ticketBody">
      <div :class="$style.ticketBodyInput">
        <m-input-group label="Тема" placeholder="Тема тикета" name="title"></m-input-group>
      </div>
      <div :class="$style.ticketBodyTextarea">
        <div :class="$style.ticketBodyTextareaLabel">Текст</div>
        <a-textarea placeholder="Текст тикета" name="text"></a-textarea>
      </div>
      <div class="flex fl-fe" :class="$style.ticketBodyButtons">
          <a-select name="user" text="Всем" :value="ticketData.user" color="greyLight" type="user"></a-select> 
          <a-button text="Отправить" 
                    color="pink" 
                    modificator="ordinary" 
                    :class="$style.ticketBodyButtonsItem"
                    @click="onClick()"></a-button> 
        </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import mInputGroup from 'Molecules/inputGroup'
import eventBus from 'EventBus'

export default {
  name: 'oAddTicket',
  data () {
    return {
      ticketData: {
        title: '',
        text: '',
        user: 'user1'
      }
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.ticketData[data.name] = data.value
    })
    eventBus.$on('selectChange', data => {
      this.ticketData[data.name] = data.value
    })
  },
  methods: {
    onClick () {
      this.$api.addTicket(this.ticketData)
        .then(res => {
          this.$store.dispatch('addNewTicket', res.data.ticket)
          this.$router.push('/')
        })
    }
  },
  components: {
    mInputGroup
  }
}
</script>
