.ticket {
  background: #fff;
  
  &--header {
    padding: 20px;
    border-bottom: 1px solid var(--color-grey);
  }

  &--body {
    padding: 20px;
    width: 50%;

    &--textarea {
      margin-top: 20px;

      &--label {
        color: var(--color-text-secondary);
        padding: 10px 0;
        font-weight: 300;
      }
    }

    &--input {
      width: 60%;
    }

    &--buttons {
      width: 100%;
      padding-top: 10px;
      font-size: 11px;

      &--item {
        margin-left: 20px;
        height: 26px;
        margin-top: 4px;
      }
    }
  }
}