<style src="./style.css" module></style>
  <template>
    <a-grid :class="[$style.ticket]">
      <a-grid-item grid="grid-5" class="flex fl-aic">
        <a-checkbox :checked="checkedUsers.indexOf(client._id) > -1" @change="checkedOneUser(client._id)"></a-checkbox>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" :class="[$style.ticketItem, 'flex', 'fl-c']">
        <a-grid>
          <a-grid-item grid="grid-3-12">
            <a-avatar :src="client.avatar"></a-avatar>
          </a-grid-item>
          <a-grid-item grid="grid-2-12" class="flex fl-aic">
              <p :class="[$style.ticketItemUsername]">{{client.username}}</p>
          </a-grid-item>
        </a-grid>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" :class="[$style.ticketItem]">
        <p>{{client.name}}</p>
      </a-grid-item>
      <a-grid-item  :grid="modificator === 'staff' ? 'grid-3-12' : 'grid-5-12'" :class="[$style.ticketItem]">
        <p>{{client.email}}</p>
      </a-grid-item>
      <a-grid-item v-if="modificator === 'staff'" grid="grid-3-12" :class="[$style.ticketItem]">
        <p>{{client.position}}</p>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem, 'flex fl-c']">
        <router-link :to="{ path: client._id }" class="text-dec">
          <a-button modificator="ordinary" color="noneGrey" name="pen"></a-button>
        </router-link>
        <a-button modificator="ordinary" color="noneGrey" name="trash" type="button" @click="deleteUser(client._id)"></a-button>
      </a-grid-item>
    </a-grid>
  </template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'mClient',
  props: {
    modificator: String,
    client: Object
  },
  computed: {
    checkedUsers () {
      return this.$store.getters.getCheckedUsers
    }
  },
  methods: {
    checkedOneUser (id) {
      this.$store.dispatch('changeCheckedUsers', {
        type: 'one',
        value: id,
        user: this.modificator
      })
    },
    deleteUser (id) {
      eventBus.$emit('deleteUser', { id: id })
    }
  }
}
</script>
