.ticket {
  padding: 15px 20px;
  font-size: 13px;
  font-family: inherit;
  border-top: 1px solid var(--color-grey-light);
  color: var(--color-grey-first);

  &--item {
    display: flex;
    align-items: center;

    &--username {
      color: #000;
    }
  }
}
