<style src="./style.css" module></style>

<template>
	<a :class="[$style.link, getColor, type === 'main' ? $style.linkMain : '']" :target="target" :href="href" rel="noopener">{{text}}</a>
</template>

<script type="text/javascript">
export default {
  name: 'aLink',
  props: {
    href: String,
    text: {
      type: String
    },
    type: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: 'grey'
    },
		target: String
  },
  computed: {
    getColor () {
      const colorMap = {
        'grey': this.$style.linkGrey,
        'pink': this.$style.linkPink
      }
      return colorMap[this.color]
    }
  }
}
</script>
