<style src="./style.css" module></style>
  <template>
    <div :class="[$style.history, 'flex']">
      <div :class="$style.historyLeft">
        <a-avatar :src="history.user[0].avatar"></a-avatar>
      </div>
      <div :class="$style.historyRight" v-if="history.type === 'mixed'">
        <span>{{history.user[0].username + ' |'}}</span>
        <a-link :text="history.user[0].name" color="pink" type="main"></a-link>{{' ' + history.text[0]}}
        <a-link :text="'#' + history.ticket.number" color="pink" type="main"></a-link>{{' ' + history.text[1]}}
        <span>{{history.user[1] ? history.user[1].username + ' |' : 'Всех'}}</span> 
        <a-link :text="history.user[1].name" color="pink" type="main" v-if="history.user[1]"></a-link>
      </div>
      <div :class="$style.historyRight" v-if="history.type === 'ticket'">
        <span>{{history.user[0].username + ' |'}}</span>
        <a-link :text="history.user[0].name" color="pink" type="main"></a-link>{{' ' + history.text[0]}}
        <a-link :text="'#' + history.ticket.number" color="pink" type="main"></a-link>{{history.text[1] ? ' ' + history.text[1] : ''}}
      </div>
      <div :class="$style.historyRight" v-if="history.type === 'user'">
        <span>{{history.user[0].username + ' |'}}</span>
        <a-link :text="history.user[0].name" color="pink" type="main"></a-link>{{' ' + history.text[0]}}
        <span>{{history.user[1].username + ' |'}}</span> 
        <a-link :text="history.user[1].name" color="pink" type="main"></a-link>
      </div>
    </div>
  </template>

<script type="text/javascript">
export default {
  name: 'mActionHistory',
  props: {
    history: {
      type: Object,
      default: () => {
        return {
          user: [
            {
              username: '',
              name: ''
            }
          ],
          ticket: {},
          text: [],
          type: ''
        }
      }
    }
  }
}
</script>