.history {
  padding: 10px 20px;
  color: var(--color-grey-first);
  align-items: center;
  font-size: inherit;
  line-height: 1.3em;
  width: 100%;

  & span {
    color: #000;
  }

  &--left {
    width: 20%;
  }

  &--right {
    width: 80%;
  }
}