<style src="./style.css" module></style>
  <template>
    <a-grid :class="[$style.ticket]">
      <a-grid-item grid="grid-1-12" :class="['flex fl-aic fl-cs']">
        <a-grid>
          <a-grid-item grid="grid-6-12" :class="['flex fl-aic fl-c']">
            <a-checkbox :checked="checked.indexOf(ticket._id) > -1" @change="changeOne(ticket._id)"></a-checkbox>
          </a-grid-item>
        </a-grid> 
      </a-grid-item>
      <a-grid-item grid="grid-9-12" :class="[$style.ticketItemData, 'flex fl-sa fl-dc']">
        <router-link :to="{ path: 'ticket', query: { ticket: ticket._id }}" class="text-dec">
          <p><span>{{ticket.ticketTitle}}</span></p>
          <p><span>{{ticket.texts[0].text}}</span></p>
        </router-link>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="['flex fl-aic fl-fe']">
        <a-date modificator="secondary" format="D MMM YYYY" :date="ticket.createdAt"></a-date>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="['flex fl-aic fl-fe']">
        <div :class="[$style.ticketItemNumber]">
          #{{ticket.number}}
        </div>
      </a-grid-item>
    </a-grid>
  </template>

<script type="text/javascript">
export default {
  name: 'mTicketClient',
  props: {
    ticket: {
      type: Object,
      default: () => {
        return {
          _id: '',
          client: {},
          favorite: false,
          ticketText: '',
          ticketTitle: '',
          type: '',
          user: '',
          src: '',
          createdAt: Date.now(),
          number: 0
        }
      }
    }
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    }
  },
  methods: {
    changeOne (id) {
      this.$store.dispatch('changeChecked', {
        type: 'one',
        value: id
      })
    },
    changeFavOne (id) {
      this.$store.commit('changeFavOne', {
        id: id,
        type: 'one'
      })
    }
  }
}
</script>