.ticket {
  padding: 15px 20px;
  font-size: 13px;
  font-family: inherit;
  border-top: 1px solid var(--color-grey-light);
  color: var(--color-grey-first);
  
  &--item {

    &--number {
      border: 1px dashed var(--color-grey-first);
      padding: 5px;
      border-radius: 3px;
    }

    &--data {
      min-width: 0;
      line-height: 1.3em;

      & p:first-child {

        & span:first-child {
         font-weight: 400;
        }
      }

      & p:nth-child(2) {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-weight: 300;
      }
    }
  }
}