<style src="./style.css" module></style>

<template>
  <div :class="$style.header">
    <section :class="$style.headerSection">
      <div :class="$style.headerLogo">
        <img src="/images/logo.png" alt="MD TIMELINE">
      </div>
      
      <div :class="$style.headerTags">
        <a-tag v-for="(tag, index) in tagsArr" :key="index" :text="tag" header :link="tag"></a-tag>
      </div>
    </section>
  </div>
</template>

<script type="text/javascript">
export default {
  name: 'oHeader',
  data () {
    return {
      tagsArr: []
    }
  }
}
</script>
