<style src="./style.css" module></style>

<template>
  <div :class="$style.ticket">
    <a-grid :class="[$style.ticketHeader, 'flex fl-aic']">
      <a-grid-item grid="grid-7-12" :class="[$style.ticketHeaderLeft, 'flex fl-aic']">
        <router-link :to="{ path: '/'}" class="text-dec">
          <a-button name="arrowLeft"
                    color="greyLight"
                    modificator="ordinary"
                    :class="[$style.ticketHeaderLeftArrow, $style.ticketHeaderLeftShift]"></a-button>
        </router-link>
        <a-select :text="ticket.type === 'open' ? 'Открытый' : ticket.type === 'closed' ? 'Закрытый' : 'В ожидании'"
                  color="pink" 
                  :class="$style.ticketHeaderLeftShift" 
                  type="assign" 
                  :showbg="true"></a-select>
        <a-select name="assign" 
                  :text="ticket.user && ticket.user !== null ? ticket.user.username : 'Всем'" 
                  :class="$style.ticketHeaderLeftShift" 
                  type="user"></a-select>
        <a-button name="alarm" :text="'Дедлайн: ' + deadline" type="button" modificator="ordinary" @click="showDate = !showDate"></a-button>
        <m-date-picker :deadline="ticket.deadline.toString()" v-if="showDate" v-on-clickaway="myfunc"></m-date-picker>
      </a-grid-item>
      <a-grid-item grid="grid-5-12" :class="[$style.ticketHeaderRight, 'flex fl-fe fl-aic']">
        <a-checkbox modificator="star"
                    :class="$style.ticketHeaderRightShift"
                    :checked="ticket.favorite"
                    @change="changeFavOne(ticket._id, ticket.favorite)"></a-checkbox>
        <span :class="[$style.ticketHeaderRightNumber, $style.ticketHeaderRightShift]">#{{ticket.number}}</span>
        <a-button name="undo"
                  modificator="ordinary"
                  color="pink"
                  :class="$style.ticketHeaderRightShift"
                  v-scroll-to="{ element: '#answerText', easing: 'linear', onDone: onDone }"></a-button>
        <a-button name="trash"
                  modificator="ordinary"
                  color="pink"
                  :class="$style.ticketHeaderRightShift"
                  @click="deleteOneTicket(ticket._id)"></a-button>
      </a-grid-item>
    </a-grid>
    <a-grid :class="$style.ticketBody" id="scroll">
      <m-each-ticket v-for="(t, index) in ticketTemp" :key="index" :ticket="t" v-if="!(t.isClient && t.type === 'note')"></m-each-ticket>
    </a-grid>
    <a-grid :class="$style.ticketFooter">
      <div>
        <a-button text="Ответить"
                  modificator="ordinary"
                  name="undo"
                  textType="none"
                  @click="changeTextType('answer')"
                  :class="[$style.ticketFooterNav, { 'activeBtn': checkTextType('answer') } ]"></a-button>
        <a-button text="Добавить заметку"
                  modificator="ordinary"
                  textType="none"
                  @click="changeTextType('note')"
                  :class="[$style.ticketFooterNav, { 'activeBtn': checkTextType('note') }]"></a-button>
      </div>
      <a-textarea name="text" id="answerText" :focus="focus" @blur="onBlur" :value="newAnswer.text" v-if="checkTextType('answer')"></a-textarea>
      <a-textarea name="note" id="answerText" v-if="checkTextType('note')" :value="newAnswer.note" :refUsers="tempRefUsers"></a-textarea>
      <div class="flex fl-fe" :class="$style.ticketFooterItem">
        <a-select name="user"
                  :text="newAnswer.user.username"
                  type="user"
                  color="greyLight"
                  v-if="checkTextType('answer')"
                  :showbg="true"
                  arrow="up"></a-select>
        <a-button :text="newAnswer.type.name"
                  modificator="ordinary"
                  color="pink"
                  v-if="checkTextType('answer')"
                  :class="$style.ticketFooterItemButton"
                  @click="onClick()"></a-button>
        <a-select arrow="up" 
                  type="send" 
                  v-if="checkTextType('answer')" 
                  color="pink" 
                  :showbg="true"></a-select>

        <a-button text="Отправить"
                  modificator="ordinary"
                  color="pink"
                  v-if="checkTextType('note')"
                  @click="onClick()"></a-button>
      </div>
    </a-grid>
  </div>
</template>

<script type="text/javascript">
import mEachTicket from 'Molecules/eachTicket'
import mDatePicker from 'Molecules/datepicker'
import eventBus from 'EventBus'
import moment from 'moment'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'oTicketWindow',
  props: {
    ticket: {
      type: Object,
      default: () => {
        return {
          _id: '',
          ticketTitle: '',
          createdAt: Date.now(),
          number: 3,
          type: 'open',
          favorite: false,
          user: {
            _id: 'user1',
            username: 'Всем'
          },
          client: {
            companyName: ''
          },
          texts: [
            {
              text: '',
              type: 'ticket',
              date: Date.now()
            }
          ],
          deadline: Date.now(),
          read: false
        }
      }
    }
  },
  data () {
    return {
      newAnswer: {
        user: {
          _id: 'user1',
          username: 'Всем'
        },
        type: {
          name: ''
        },
        refUser: [],
        files: [],
        text: '',
        note: ''
      },
      tempRefUsers: [],
      ticketTemp: [],
      focus: false,
      currentTextType: 'answer',
      deadline: Date.now(),
      showDate: false
    }
  },
  beforeMount () {
    this.ticketTemp = this.computeTicketTemp(this.ticket)
    this.newAnswer = this.computeNewAnswer(this.ticket)
    this.deadline = moment(this.ticket.deadline).locale('ru').format('lll')
    this.checkRead(this.ticket)
  },
  methods: {
    onClick () {
      var data = new FormData()
      data.append('answerType', this.currentTextType)
      data.append('text', this.newAnswer.text)
      data.append('oldType', this.ticket.type)
      data.append('type', this.newAnswer.type.type)
      data.append('note', this.newAnswer.note)
      data.append('user', JSON.stringify(this.newAnswer.user))
      for (var x = 0; x < this.newAnswer.files.length; x++) {
        data.append('fileToUpload[]', this.newAnswer.files[x])
      }
      if (this.newAnswer.refUser && this.newAnswer.refUser.length > 0 && this.currentTextType === 'note') {
        for (x = 0; x < this.newAnswer.refUser.length; x++) {
          data.append('refUsers[]', this.newAnswer.refUser[x])
        }
      }
      this.$api.addAnswer(data, this.ticket._id)
        .then(res => {
          if (this.ticket.type !== this.newAnswer.type.type && this.currentTextType === 'answer') {
            var temp = this.newAnswer.type.type === 'open' ? 'в открытые' : this.newAnswer.type.type === 'closed' ? 'в закрытые' : 'в ожидании'
            const h = {
              user: [this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [this.ticket._id],
              text: ['переместил/a тикет', temp]
            }
            this.$socket.emit('addHistoryStaff', h)
            this.$socket.emit('addHistoryClient', h)
            if (this.ticket.user && this.ticket.user !== null && this.ticket.user._id !== 'user1' && this.ticket.user._id !== this.$auth.currentUser().id) {
              const n = {
                user: [this.ticket.user._id, this.$auth.currentUser().id],
                type: 'ticket',
                ticket: [this.ticket._id],
                text: ['переместил Ваш тикет', temp]
              }
              this.$socket.emit('addNotification', n)
            }
          }
          if (this.currentTextType === 'note') {
            const h = {
              user: [this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [this.ticket._id],
              text: ['написал/а заметку для тикета']
            }
            this.$socket.emit('addHistoryStaff', h)
            if (this.newAnswer.refUser && this.newAnswer.refUser.length > 0) {
              const n = {}
              this.newAnswer.refUser.forEach((item) => {
                n.user = [item, this.$auth.currentUser().id]
                n.ticket = [this.ticket._id]
                n.text = ['упоминул/а Вас в заметке для тикета']
                n.type = 'ticket'
                this.$socket.emit('addNotification', n)
              })
            }
          } else if (this.currentTextType === 'answer') {
            const h = {
              user: [this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [this.ticket._id],
              text: ['ответил/а на тикет']
            }
            this.$socket.emit('addHistoryStaff', h)
            this.$socket.emit('addHistoryClient', h)
          }
          if (this.ticket.user && this.ticket.user !== null && this.newAnswer.user._id !== this.$auth.currentUser().id &&
            this.newAnswer.user._id !== this.ticket.user._id) {
            if (this.newAnswer.user._id !== 'user1' && this.newAnswer.user !== null) {
              const n = {
                user: [this.newAnswer.user._id, this.$auth.currentUser().id],
                type: 'ticket',
                ticket: [this.ticket._id],
                text: ['назначил/а Вам тикет']
              }
              this.$socket.emit('addNotification', n)
            }
            if (this.ticket.user._id !== 'user1' && this.ticket.user._id !== this.$auth.currentUser().id) {
              const n = {
                user: [this.ticket.user._id, this.$auth.currentUser().id],
                type: 'ticket',
                ticket: [this.ticket._id],
                text: ['привязал Ваш тикет', 'другому пользователю']
              }
              this.$socket.emit('addNotification', n)
            }
          }
          if (this.ticket.user && this.ticket.user !== null &&
            this.newAnswer.user._id === this.ticket.user._id &&
            this.ticket.user._id !== this.$auth.currentUser().id) {
            const n = {
              user: [this.ticket.user._id, this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [this.ticket._id],
              text: ['ответил на Ваш тикет']
            }
            this.$socket.emit('addNotification', n)
          }
          const n = {
            user: [this.ticket.client._id, this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [this.ticket._id],
            text: ['ответил на Ваш тикет']
          }
          this.$socket.emit('addNotification', n)
          this.ticketTemp = this.computeTicketTemp(res.data)
          this.newAnswer = this.computeNewAnswer(res.data)
          this.tempRefUsers = []
          this.$store.commit('changeTicket', { ticket: res.data })
          this.newAnswer.files.splice(0)
        })
    },
    computeTicketTemp (ticket) {
      var ttt = []
      ticket.texts.forEach((item) => {
        var temp = {
          ticketTitle: ticket.ticketTitle,
          text: item.text,
          date: item.date,
          username: item.type === 'ticket' ? ticket.client.name : item.user.name,
          avatar: item.type === 'ticket' ? ticket.client.avatar : item.user.avatar,
          type: item.type,
          isClient: this.$auth.currentUser().type === 'client',
          client: item.type === 'answer' ? ticket.client.name : '',
          files: item.files
        }
        ttt.push(temp)
      })
      return ttt
    },
    computeNewAnswer (ticket) {
      return {
        user: !ticket.user || ticket.user === null || ticket.user._id === 'user1' ? {
          _id: 'user1',
          username: 'Всем'
        } : ticket.user,
        type: {
          type: ticket.type,
          name: ticket.type === 'open' ? 'Отправить открытым' : ticket.type === 'closed' ? 'Отправить закрытым' : 'Отправить в ожидании'
        },
        refUser: [],
        files: [],
        text: '',
        note: ''
      }
    },
    onDone () {
      this.focus = true
    },
    onBlur () {
      this.focus = false
    },
    changeFavOne (id, value) {
      this.$api.changeFavOne(id, value)
        .then(res => {
          var temp = !value ? 'добавил/а в избранное тикет' : 'удалил/а из избранных тикет'
          var h = {
            user: [this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [id],
            text: [temp]
          }
          this.$socket.emit('addHistoryStaff', h)
          if (this.ticket.user && this.ticket.user !== null && this.ticket.user._id !== 'user1' && this.ticket.user._id !== this.$auth.currentUser().id) {
            var n = {
              user: [this.ticket.user._id, this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [id],
              text: [temp]
            }
            this.$socket.emit('addNotification', n)
          }
          this.$store.commit('changeFavOne', {
            id: id,
            type: 'one'
          })
        })
    },
    deleteOneTicket (id) {
      this.$api.deleteOneTicket(id)
        .then(res => {
          var h = {
            user: [this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [id],
            text: ['удалил/a тикет']
          }
          this.$socket.emit('addHistoryStaff', h)
          var n = {
            user: [this.ticket.client._id, this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [this.ticket._id],
            text: ['удалил/a Ваш тикет']
          }
          this.$socket.emit('addNotification', n)

          if (this.ticket.user && this.ticket.user !== null && this.ticket.user._id !== 'user1' && this.ticket.user._id !== this.$auth.currentUser().id) {
            n.user[0] = this.ticket.user._id
            this.$socket.emit('addNotification', n)
          }
          this.$store.commit('deleteOneTicket', {
            id: id
          })
          this.$router.push('/')
        })
    },
    checkTextType (type) {
      return type === this.currentTextType
    },
    changeTextType (type) {
      this.currentTextType = type
    },
    checkRead (ticket) {
      if (!ticket.read && ticket._id !== '') {
        this.$api.changeRead(ticket._id).then(res => {
          this.$store.commit('changeRead', ticket._id)
        })
      }
    },
    myfunc () {
      this.showDate = false
    }
  },
  mounted () {
    const scrl = document.querySelector('#scroll')
    setTimeout(() => {
      scrl.scrollTop = scrl.scrollHeight
    }, 100)

    eventBus.$on('removeFile', index => {
      this.newAnswer.files.splice(index, 1)
    })
    eventBus.$on('textareaChange', data => {
      this.newAnswer[data.name] = data.value
    })
    eventBus.$on('selectChange', data => {
      if (data.type === 'user') {
        if (data.name === 'user') {
          this.newAnswer.user = data.data
        } else {
          this.$api.assignUser(data.data._id, this.ticket._id)
            .then(res => {
              var h = {
                user: [this.$auth.currentUser().id, data.data._id],
                type: 'mixed',
                ticket: [this.ticket._id],
                text: ['назначил/a тикет', 'для']
              }
              this.$socket.emit('addHistoryStaff', h)
              if (data.data._id !== 'user1' && data.data._id !== this.$auth.currentUser().id) {
                var n = {
                  user: [data.data._id, this.$auth.currentUser().id],
                  type: 'ticket',
                  ticket: [this.ticket._id],
                  text: ['назначил/а Вам тикет']
                }
                this.$socket.emit('addNotification', n)
              }
              if (this.ticket.user && this.ticket.user !== null && this.ticket.user._id !== 'user1' &&
                  this.ticket.user._id !== data.data._id && this.ticket.user._id !== this.$auth.currentUser().id) {
                const n = {
                  user: [this.ticket.user._id, this.$auth.currentUser().id],
                  type: 'ticket',
                  ticket: [this.ticket._id],
                  text: ['привязал Ваш тикет', 'другому пользователю']
                }
                this.$socket.emit('addNotification', n)
              }
              this.$store.commit('assignUser', {
                ticket: this.ticket._id,
                user: data.data
              })
              this.$router.push('/')
            })
        }
      } else if (data.type === 'send') {
        this.newAnswer.type.type = data.data._id
        this.newAnswer.type.name = data.data.name
      } else if (data.type === 'assign') {
        this.$api.changeType(this.ticket._id, data.data._id)
          .then(res => {
            var temp = data.data._id === 'open' ? 'в открытые' : data.data._id === 'closed' ? 'в закрытые' : 'в ожидании'
            var h = {
              user: [this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [this.ticket._id],
              text: ['переместил/a тикет', temp]
            }
            this.$socket.emit('addHistoryStaff', h)
            this.$socket.emit('addHistoryClient', h)
            var n = {
              user: [this.ticket.client._id, this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [this.ticket._id],
              text: ['переместил/а Ваш тикет', temp]
            }
            this.$socket.emit('addNotification', n)

            if (this.ticket.user && this.ticket.user !== null && this.ticket.user._id !== 'user1' && this.ticket.user._id !== this.$auth.currentUser().id) {
              n.user[0] = this.ticket.user._id
              this.$socket.emit('addNotification', n)
            }
            this.$store.commit('changeType', {
              ticket: this.ticket._id,
              type: data.data._id
            })
            this.$router.push('/')
          })
      }
    })
    eventBus.$on('snoozeTicket', data => {
      this.$api.snoozeTicket(this.ticket._id, data)
        .then(res => {
          console.log(data)
          var h = {
            user: [this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [this.ticket._id],
            text: ['продлил/а дедлайн тикета']
          }
          this.$socket.emit('addHistoryStaff', h)
          if (this.ticket.user && this.ticket.user !== null && this.ticket.user._id !== 'user1' &&
            this.ticket.user._id !== this.$auth.currentUser().id) {
            var n = {
              user: [this.ticket.user._id, this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [this.ticket._id],
              text: ['продлил/а дедлайн Вашему тикету']
            }
            this.$socket.emit('addNotification', n)
          }
          this.$store.commit('snoozeTicket', {
            ticket: this.ticket._id,
            date: data
          })
          this.deadline = moment(data).locale('ru').format('lll')
          this.showDate = !this.showDate
        })
    })
    eventBus.$on('fileUploadChange', data => {
      Array.from(data.data).forEach((item, index) => {
        this.newAnswer.files.push(item)
      })
    })
    eventBus.$on('chooseUserForNote', data => {
      if (this.newAnswer.refUser && this.newAnswer.refUser.length > 0) {
        if (this.newAnswer.refUser.indexOf(data.user._id) === -1) {
          this.newAnswer.refUser.push(data.user._id)
          this.tempRefUsers.push('@' + data.user.username)
        }
      } else {
        this.newAnswer.refUser = [data.user._id]
        this.tempRefUsers = ['@' + data.user.username]
      }
    })
    eventBus.$on('deleteUserFromRef', data => {
      this.newAnswer.refUser.splice(data.index, 1)
      this.tempRefUsers.splice(data.index, 1)
    })
  },
  watch: {
    ticket: function () {
      this.ticketTemp = this.computeTicketTemp(this.ticket)
      this.newAnswer = this.computeNewAnswer(this.ticket)
      this.deadline = moment(this.ticket.deadline).locale('ru').format('lll')
      this.checkRead(this.ticket)
    }
  },
  components: {
    mEachTicket,
    mDatePicker
  },
  directives: {
    onClickaway
  }
}
</script>
