<style src="./style.css" module></style>

<template>
  <div :class="$style.select" v-on-clickaway="makeDefault">
    <div @click="changeArrow()" class="flex fl-sb">
      <a-button modificator="ordinary" 
                type="button" 
                :name="name" 
                :text="text" 
                :color="color" 
                :class="[text !== '' ? $style.fixedWidth : '']"
                v-if="type !== 'send'"></a-button>
      <span :class="[$style.selectArrow, getColor,
         myArrow === 'up' ? 'icon-triangle-up' : 'icon-triangle-down']"></span>
    </div>
    <transition name="slideDown">
      <ul v-if="myActive" :class="[$style.selectList, getAlign, getType]">
        <li :class="$style.selectListElem"
          v-for="(project, index) in tempArr"
          :key="index"
          @click="handleChange(project)" >{{ type === 'user' ? project.username : project.name }}</li>
      </ul>
    </transition>
  </div>
</template>


<script type="text/javascript">
import { mapGetters } from 'vuex'
import eventBus from 'EventBus'
import { directive as onClickaway } from 'vue-clickaway'

export default {
  name: 'aSelect',
  data () {
    return {
      selectedElement: '',
      myActive: false,
      tempArr: [],
      myArrow: 'down',
      myText: ''
    }
  },
  computed: {
    getColor () {
      const colorMap = {
        'pink': this.showbg ? this.$style.selectArrowPinkShow : this.$style.selectArrowPink,
        'grey': this.showbg ? this.$style.selectArrowGreyShow : this.$style.selectArrowGrey,
        'greyLight': this.showbg ? this.$style.selectArrowGreyLightShow : this.$style.selectArrowGreyLight
      }
      return colorMap[this.color]
    },
    getAlign () {
      const alignMap = {
        'left': this.$style.selectListLeft,
        'center': this.$style.selectListCenter,
        'right': this.$style.selectListRight
      }
      return alignMap[this.align]
    },
    getType () {
      const typeMap = {
        'up': this.$style.selectListUp,
        'down': this.$style.selectListDown
      }
      return typeMap[this.arrow]
    },
    ...mapGetters([
      'getSendTypes',
      'getAssignTypes',
      'getSnoozeTypes',
      'getUsersOfCompany'
    ])
  },
  props: {
    propType: String,
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
    arrow: {
      type: String,
      default: 'down'
    },
    text: {
      type: String,
      default: ''
    },
    align: {
      type: String,
      default: 'left'
    },
    type: {
      type: String,
      default: ''
    },
    showbg: {
      type: Boolean,
      default: false
    }
  },
  beforeMount () {
    this.myArrow = this.arrow

    switch (this.type) {
      case 'user': this.tempArr = this.getUsersOfCompany
        break
      case 'send': this.tempArr = this.getSendTypes
        break
      case 'assign': this.tempArr = this.getAssignTypes
        break
      case 'snooze': this.tempArr = this.getSnoozeTypes
        break
    }
  },
  methods: {
    handleChange (project) {
      this.changeArrow()
      eventBus.$emit('selectChange', { value: project._id, type: this.type, name: this.name, data: project })
    },
    changeArrow () {
      this.myArrow = this.myArrow === 'down' ? 'up' : 'down'
      this.myActive = !this.myActive
    },
    makeDefault () {
      this.myActive = false
      this.myArrow = this.arrow
    }
  },
  directives: {
    onClickaway
  }
}
</script>
