<style src="./style.css" module></style>

<template>
  <div class="flex fl-dc fl-fs">
    <div :class="$style.menuItem">
      <router-link :to="{ path: '/'}" class="text-dec">
        <a-menu-button name="open" :active="pages.open" @click="onClick('open')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">{{ currentUser.type === 'client' ? 'Необработанные заявки' : 'Открытые заявки' }}</div>
    </div>
    <div :class="$style.menuItem">
      <router-link :to="{ path: '/'}" class="text-dec">
        <a-menu-button name="pending" :active="pages.pending" @click="onClick('pending')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Заявки в ожидании</div>
    </div>
    <div :class="$style.menuItem">
      <router-link :to="{ path: '/'}" class="text-dec">
        <a-menu-button name="closed" :active="pages.closed" @click="onClick('closed')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Закрытые заявки</div>
    </div>
    <div :class="$style.menuItem">
      <a-menu-button name="add" :active="pages.add" @click="openModal()" v-if="type === 'client'"></a-menu-button>
      <div :class="$style.tooltip">Добавить тикет</div>
    </div>
    <div :class="[$style.menuItem, 'space']">
      <router-link :to="{ path: settings }" class="text-dec">
        <a-menu-button name="settings" :active="pages.settings" @click="onClick('settings')"></a-menu-button>
      </router-link>
      <div :class="$style.tooltip">Настройки</div>
    </div>
    <div :class="[$style.menuItem]">
      <a-menu-button name="exit" :active="pages.exit" @click="onClick('open'); logout()"></a-menu-button>
      <div :class="$style.tooltip">Выйти</div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapGetters } from 'vuex'
import eventBus from 'EventBus'

export default {
  name: 'mMenu',
  data () {
    return {
      pages: {
        open: false,
        pending: false,
        closed: false,
        add: false,
        settings: false,
        exit: false
      },
      settings: '/settings'
    }
  },
  props: {
    type: {
      type: String,
      default: 'company'
    }
  },
  beforeMount () {
    this.settings = this.currentUser.type === 'admin' ? '/settings/personal' : '/settings'
    this.getPages()
    eventBus.$on('go-home', () => {
      this.onClick('open')
    })
  },
  computed: {
    ...mapGetters({
      currentPage: 'getCurrentPage'
    }),
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  methods: {
    onClick (page) {
      this.$store.dispatch('changeCurrentPage', {
        currentPage: page
      })
      this.getPages()
    },
    getPages () {
      Object.keys(this.pages).forEach((item) => {
        if (item === this.currentPage) {
          this.pages[item] = true
        } else {
          this.pages[item] = false
        }
      })
    },
    openModal () {
      eventBus.$emit('openTicketModal')
    },
    logout () {
      this.$store.dispatch('changeNav', { currentNav: 'mine' })
      this.$auth.logout()
        .then(res => {
          this.$router.go('login')
        })
    }
  }
}
</script>
