.menuItem:hover .tooltip {
  visibility: visible;
}

.tooltip {
  visibility: hidden;
  min-width: 80px;
  background-color: #fff;
  color: rgb(178, 166, 164);
  text-align: center;
  border-radius: 3px;
  padding: 0 10px;
  line-height: 25px;
  font-size: 12px;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.11);
  position: absolute;
  z-index: 1;

  &:before {
    content: "\A";
    border-style: solid;
    border-width: 0px 5px 5px 5px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    left: 25px;
    top: -5px;
  }
}

:global .space {
  margin-top: auto;
}