<style src="./style.css" module></style>

<template>
    <div :class="[$style.field, { 'bg-pink': name === 'note' }]">
      <textarea
        :class="[$style.fieldTextarea, { 'bg-pink': name === 'note' }]"
        :placeholder="placeholder"
        :name="name"
        :value="value"
        v-autosize="value"
        @change="onChange"
        ref="textarea"
        @blur="onBlur"></textarea>
      
      <div :class="[$style.fieldButton]">
        <a-file-upload @change="handleFileUpload" :class="{ 'bg-pink': name === 'note' }"></a-file-upload>
      </div>
      <div :class="$style.fieldRef" v-if="name === 'note'">
        <i class="icon-price-tags"></i>
        <input type="text" name="user" @input="handleInput" :value="refUsersString">
      </div>
      <div :class="$style.fieldSelect" v-show="openSelect">
        <div v-for="user in users" :key="user._id" :class="[$style.fieldSelectEach, 'flex fl-aic']" @click="chooseUser(user)">
          <span>@{{user.username}}</span>
        </div>
      </div>
    </div>
</template>

<script>
import eventBus from 'EventBus'
export default {
  name: 'aTextarea',
  props: {
    placeholder: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    refUsers: Array,
    focus: false
  },
  data () {
    return {
      choosedUser: '',
      openSelect: false,
      refUsersString: ''
    }
  },
  computed: {
    users () {
      return this.$store.getters.getStaff(this.$auth.currentUser().id)
    }
  },
  methods: {
    onChange (e) {
      eventBus.$emit('textareaChange', { value: e.target.value, name: e.target.name })
    },
    handleFileUpload (data) {
      eventBus.$emit('fileUploadChange', { data })
    },
    onBlur () {
      this.$emit('blur')
    },
    handleInput (e) {
      if (e.target.name === 'user' && e.data === '@') {
        this.openSelect = true
      }
      if (e.data === null) {
        this.refUsers.forEach((user, index) => {
          if (e.target.value.indexOf(user) === -1) {
            eventBus.$emit('deleteUserFromRef', { index })
          }
        })
      }
    },
    chooseUser (user) {
      eventBus.$emit('chooseUserForNote', { user })
      this.openSelect = false
    }
  },
  beforeMount () {
    if (this.refUsers) {
      this.refUsersString = this.refUsers.join(', ')
    }
  },
  watch: {
    focus: function () {
      if (this.focus) {
        this.$refs.textarea.focus()
      }
    },
    refUsers: function () {
      this.refUsersString = this.refUsers.join(', ')
    }
  }
}
</script>
