<style src="./style.css" module></style>
<template>
  <div :class="$style.list">
    <a-grid :class="[$style.listHeader, 'flex fl-aic']">
      <a-grid-item grid="grid-1-12">
        <a-grid>
          <a-grid-item grid="grid-6-12" class="flex fl-c fl-aic" v-if="tickets.length > 0">
            <a-checkbox :checked="checked.indexOf('all') > -1" v-show="checked.length > 0" @change="changeAll()"></a-checkbox>
          </a-grid-item>
          <a-grid-item grid="grid-6-12" class="flex fl-c fl-aic" v-show="checked.length > 0" v-if="currentUser.type !== 'client'">
            <a-checkbox modificator="star" :checked="tempFav" @change="changeFavAll()"></a-checkbox>
          </a-grid-item>
        </a-grid> 
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-fe fl-aic" v-show="checked.length > 0" v-if="currentUser.type !== 'client'">
        <a-select name="user" color="pink" type="user" ></a-select> 
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-fe fl-aic" v-show="checked.length > 0" v-if="currentUser.type !== 'client'">
        <a-select name="flag" color="grey" type="assign"></a-select> 
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-c fl-aic" v-show="checked.length > 0" v-if="currentUser.type !== 'client'">
        <a-button name="trash" modificator="ordinary" color="grey" @click="deleteTickets()"></a-button> 
      </a-grid-item>
      <a-grid-item grid="grid-1-12" class="flex fl-fs fl-aic" v-show="checked.length > 0" v-if="currentUser.type === 'client'">
        <a-button name="trash" modificator="ordinary" color="pink" @click="deleteTickets()"></a-button> 
      </a-grid-item>
    </a-grid>
    <div :class="$style.listBody">
      <div v-if="tickets.length === 0" :class="$style.listBodyMessage">
        <span>Нет тикетов</span>
      </div>
      <m-ticket-client v-for="ticket in tickets" :key="ticket.id" :ticket="ticket" v-if="currentUser.type === 'client'"></m-ticket-client>
      <m-ticket v-for="ticket in tickets" :key="ticket.id" :ticket="ticket" v-if="currentUser.type !== 'client'"></m-ticket>
    </div>
  </div>
</template>

<script>
import mTicket from 'Molecules/ticket'
import mTicketClient from 'Molecules/ticketClient'
import eventBus from 'EventBus'

export default {
  name: 'oTicketList',
  props: {
    tickets: Array
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    },
    tempFav () {
      return this.checkFavs()
    },
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  methods: {
    changeAll () {
      this.$store.dispatch('changeChecked', {
        type: 'all',
        value: 'all'
      })
    },
    changeFavAll () {
      this.$api.changeFavAll(this.tickets, this.tempFav)
        .then(res => {
          var temp = !this.tempFav ? 'добавил/а в избранное тикет' : 'удалил/а из избранных тикет'
          var tempArr = []
          this.tickets.forEach((item) => {
            tempArr.push(item._id)
          })
          var h = {
            user: [this.currentUser.id],
            type: 'ticket',
            ticket: tempArr,
            text: [temp]
          }
          this.$socket.emit('addHistoryStaff', h)
          this.$socket.emit('addNotificationAssign', { tickets: tempArr, currentUser: this.currentUser.id, text: temp })
          this.$store.dispatch('changeFavAll', {
            value: this.tempFav
          })
        })
    },
    checkFavs () {
      for (var i = 0; i < this.tickets.length; i++) {
        if (!this.tickets[i].favorite) {
          return false
        }
      }

      return true
    },
    deleteTickets () {
      this.$api.deleteTickets(this.checked)
        .then(res => {
          var h = {
            user: [this.currentUser.id],
            type: 'ticket',
            ticket: this.checked,
            text: ['удалил/a тикет']
          }
          this.$socket.emit('addHistoryStaff', h)
          var temp = this.currentUser.type === 'client' ? 'удалили тикет' : 'удалил/а тикет'
          var h2 = {
            user: [this.currentUser.id],
            ticket: this.checked,
            text: [temp]
          }
          this.$socket.emit('addHistoryClient', h2)
          var tempText = 'удалил/а Ваш тикет'
          this.$socket.emit('addNotificationAssign', { tickets: this.checked, currentUser: this.currentUser.id, text: tempText, both: true })
          this.$store.commit('deleteTickets')
          this.$store.commit('emptyChecked')
        })
    }
  },
  mounted () {
    eventBus.$on('selectChange', data => {
      if (data.type === 'user') {
        this.$api.assignUserChecked(data.data._id, this.checked)
          .then(res => {
            var h = {
              user: [this.currentUser.id, data.data._id],
              type: 'mixed',
              ticket: this.checked,
              text: ['назначил/а тикет', 'для']
            }
            this.$socket.emit('addHistoryStaff', h)
            if (data.data._id !== 'user1' && data.data._id !== this.currentUser.id) {
              var n = {
                user: [data.data._id, this.currentUser.id],
                type: 'ticket',
                ticket: this.checked,
                text: ['назначил/а Вам тикет']
              }
              this.$socket.emit('addNotification', n)
            }
            var tempText = ['привязал Ваш тикет', 'другому пользователю']
            this.$socket.emit('addNotificationAssign', { tickets: this.checked, currentUser: this.currentUser.id, text: tempText })
            this.$store.dispatch('assignUserChecked', {
              user: data.data
            })
            this.$store.commit('emptyChecked')
          })
      } else if (data.type === 'assign') {
        this.$api.changeTypeChecked(data.data._id, this.checked)
          .then(res => {
            var temp = data.data._id === 'open' ? 'в открытые' : data.data._id === 'closed' ? 'в закрытые' : 'в ожидании'
            var h = {
              user: [this.currentUser.id],
              type: 'ticket',
              ticket: this.checked,
              text: ['переместил/а тикет', temp]
            }
            var tempText = ['переместил Ваш тикет', temp]
            this.$socket.emit('addNotificationAssign', { tickets: this.checked, currentUser: this.currentUser.id, text: tempText })
            this.$socket.emit('addHistoryStaff', h)
            this.$socket.emit('addHistoryClient', h)
            this.$store.dispatch('changeTypeChecked', {
              type: data.data._id
            })
            this.$store.commit('emptyChecked')
          })
      }
    })
  },
  components: {
    mTicket,
    mTicketClient
  }
}
</script>