.list {
  border: 1px solid var(--color-grey);
  border-width: 1px 0 1px 1px;
  background: #fff;

  &--header {
    padding: 11.5px 20px;
    min-height: 56px;
  }

  &--body {
    height: 89%;
    overflow-y: scroll;

    &--message {
      width: 100%;
      font-size: 1.5rem;
      font-family: inherit;
      color: var(--color-grey-first);
      text-align: center;
    }
  }
}

:global .text-dec {
  text-decoration: none
};