<style src="./style.css" module></style>

<template>
  <div :class="$style.ticket">
    <a-grid :class="[$style.ticketHeader, 'flex fl-aic']">
      <a-grid-item grid="grid-7-12" :class="[$style.ticketHeaderLeft, 'flex fl-aic']">
        <router-link :to="{ path: '/'}" class="text-dec">
          <a-button name="arrowLeft"
                    color="greyLight"
                    modificator="ordinary"
                    :class="[$style.ticketHeaderLeftArrow, $style.ticketHeaderLeftShift]"></a-button>
        </router-link>
      </a-grid-item>
      <a-grid-item grid="grid-5-12" :class="[$style.ticketHeaderRight, 'flex fl-fe fl-aic']">
        <a-button name="undo"
                  modificator="ordinary"
                  color="pink"
                  :class="$style.ticketHeaderRightShift"
                  v-scroll-to="{ element: '#answerText', easing: 'linear', onDone: onDone }"></a-button>
        <a-button name="trash"
                  modificator="ordinary"
                  color="pink"
                  :class="$style.ticketHeaderRightShift"
                  @click="deleteOneTicket(ticket._id)"></a-button>
      </a-grid-item>
    </a-grid>
    <a-grid :class="$style.ticketBody">
      <m-each-ticket v-for="(t, index) in ticketTemp" :key="index" :ticket="t" v-if="!(t.isClient && t.type === 'note')"></m-each-ticket>
    </a-grid>
    <a-grid :class="$style.ticketFooter">
      <a-textarea name="text" id="answerText" :focus="focus" @blur="onBlur" :value="text"></a-textarea>
      <div class="flex fl-fe" :class="$style.ticketFooterItem">
        <a-button text="Отправить"
                  modificator="ordinary"
                  color="pink"
                  :class="$style.ticketFooterItemButton"
                  @click="onClick"></a-button>
      </div>
    </a-grid>
  </div>
</template>

<script type="text/javascript">
import mEachTicket from 'Molecules/eachTicket'
import eventBus from 'EventBus'

export default {
  name: 'oTicketWindowClient',
  props: {
    ticket: {
      type: Object,
      default: () => {
        return {
          _id: '',
          ticketTitle: '',
          createdAt: Date.now(),
          number: 3,
          type: 'open',
          favorite: false,
          user: {
            _id: 'user1',
            username: 'Всем'
          },
          client: {
            companyName: ''
          },
          texts: [
            {
              text: '',
              type: 'ticket',
              date: Date.now()
            }
          ]
        }
      }
    }
  },
  data () {
    return {
      text: '',
      ticketTemp: [],
      focus: false,
      files: []
    }
  },
  beforeMount () {
    eventBus.$on('textareaChange', data => {
      this.text = data.value
    })
    this.ticketTemp = this.computeTicketTemp(this.ticket)

    eventBus.$on('fileUploadChange', data => {
      Array.from(data.data).forEach((item, index) => {
        this.files.push(item)
      })
    })
    eventBus.$on('removeFile', index => {
      this.files.splice(index, 1)
    })
  },
  methods: {
    onClick () {
      var data = new FormData()
      data.append('user', this.ticket.user)
      data.append('text', this.text)
      data.append('oldType', this.ticket.type)
      data.append('type', this.ticket.type)
      for (var x = 0; x < this.files.length; x++) {
        data.append('fileToUpload[]', this.files[x])
      }
      this.$api.addAnswer(data, this.ticket._id)
        .then(res => {
          var h = {
            user: [this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [this.ticket._id],
            text: ['добавил/а ответ на тикет']
          }
          this.$socket.emit('addHistoryStaff', h)
          this.$socket.emit('addHistoryClient', h)
          if (this.ticket.user !== null) {
            const n = {
              user: [this.ticket.user._id, this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [this.ticket._id],
              text: ['добавил сообщение на Ваш тикет']
            }
            this.$socket.emit('addNotification', n)
          }
          this.ticketTemp = this.computeTicketTemp(res.data)
          this.text = ''
          this.files = []
          this.$store.commit('changeTicket', { ticket: res.data })
          this.files.splice(0)
        })
    },
    computeTicketTemp (ticket) {
      var ttt = []
      ticket.texts.forEach((item) => {
        var temp = {
          ticketTitle: ticket.ticketTitle,
          text: item.text,
          date: item.date,
          username: item.type === 'ticket' ? ticket.client.name : item.user.name,
          avatar: item.type === 'ticket' ? ticket.client.avatar : item.user.avatar,
          type: item.type,
          isClient: this.$auth.currentUser().type === 'client',
          client: item.type === 'answer' ? ticket.client.name : '',
          files: item.files
        }
        ttt.push(temp)
      })
      return ttt
    },
    onDone () {
      this.focus = true
    },
    onBlur () {
      this.focus = false
    },
    deleteOneTicket (id) {
      this.$api.deleteOneTicket(id)
        .then(res => {
          var h = {
            user: [this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [id],
            text: ['удалил/a тикет']
          }
          this.$socket.emit('addHistoryStaff', h)

          if (this.ticket.user !== null && this.ticket.user._id !== 'user1') {
            var n = {
              user: [this.ticket.user._id, this.$auth.currentUser().id],
              type: 'ticket',
              ticket: [id],
              text: ['удалил/a Ваш тикет']
            }
            this.$socket.emit('addNotification', n)
          }
          this.$store.commit('deleteOneTicket', {
            id: id
          })
          this.$router.push('/')
        })
    }
  },
  watch: {
    ticket: function () {
      this.ticketTemp = this.computeTicketTemp(this.ticket)
    }
  },
  components: {
    mEachTicket
  }
}
</script>
