.ticket {
  background: #fff;
  border-width: 1px 0 1px 1px;
  position: relative;
  width: 100%;

  &--header {
    padding: 10px 20px;
    max-height: 47px;
    border-bottom: 1px solid var(--color-grey-third);

    &--left {
      font-size: 11px;
      display: inline-flex;

      &--arrow {
        height: 25px;
      }

      &--shift {
        margin-right: 10px;
      }
    }

    &--right {

      &--number {
        color: #e2e2e2;
        font-size: 15px;
      }

      &--shift {
        margin-left: 5px;
      }
    }
  }

  &--body {
    padding: 0 20px 20px;
  }

  &--footer {
    padding: 25px 20px;
    /*position: absolute;*/
    /*bottom: 0;*/
    border-top: 1px solid #696969;

    &--item {
      width: 100%;
      padding-top: 10px;
      font-size: 11px;

      &--button {
        margin: 4px 0 0;
        height: 26px;
      }
    }
  }
}