<style src="./style.css" module></style>
  <template>
    <a-grid :class="[$style.ticket, {'bg-red': deadline < 0}, {'bg-yellow': deadline < 1800000 && deadline > 0}]">
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem]">
        <a-grid>
          <a-grid-item grid="grid-6-12" :class="[$style.ticketItem]">
            <a-checkbox :checked="checked.indexOf(ticket._id) > -1" @change="changeOne(ticket._id)"></a-checkbox>
          </a-grid-item>
          <a-grid-item grid="grid-6-12" :class="[$style.ticketItem]">
            <a-checkbox modificator="star" :checked="ticket.favorite" @change="changeFavOne(ticket._id, ticket.favorite)"></a-checkbox>
          </a-grid-item>
        </a-grid>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem]">
        <a-avatar :src="ticket.client.avatar"></a-avatar>
      </a-grid-item>
      <a-grid-item grid="grid-8-12" :class="[$style.ticketItemData]">
        <router-link :to="{ path: 'oneticket', query: { ticket: ticket._id }}" class="text-dec">
          <p><span>{{ticket.client.username}}</span> | <span>{{ticket.client.name}}</span></p>
          <p :class="{'bold-text': !ticket.read}"><span>{{ticket.ticketTitle}}</span> | <span>{{ticket.texts[0].text}}</span></p>
        </router-link>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem]">
        <a-date modificator="secondary" format="D MMM YYYY" :date="ticket.createdAt"></a-date>
      </a-grid-item>
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem]">
        <div :class="[$style.ticketItemNumber]">
          #{{ticket.number}}
        </div>
      </a-grid-item>
    </a-grid>
  </template>

<script type="text/javascript">
import eventBus from 'EventBus'

export default {
  name: 'mTicket',
  props: {
    ticket: {
      type: Object,
      default: () => {
        return {
          _id: '',
          client: {},
          favorite: false,
          ticketText: '',
          ticketTitle: '',
          type: '',
          user: '',
          createdAt: Date.now(),
          number: 0,
          read: false
        }
      }
    }
  },
  computed: {
    checked () {
      return this.$store.getters.getChecked
    },
    deadline () {
      return new Date(this.ticket.deadline).getTime() - new Date().getTime()
    }
  },
  mounted () {
    eventBus.$on('ticketReplyed', (id) => {
      if (this.ticket._id === id) {
        this.ticket.read = false
      }
    })
  },
  methods: {
    changeOne (id) {
      this.$store.dispatch('changeChecked', {
        type: 'one',
        value: id
      })
    },
    changeFavOne (id, value) {
      this.$api.changeFavOne(id, value)
        .then(res => {
          var temp = !value ? 'добавил/а в избранное тикет' : 'удалил/а из избранных тикет'
          var h = {
            user: [this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [id],
            text: [temp]
          }
          this.$socket.emit('addHistoryStaff', h)
          this.$store.commit('changeFavOne', {
            id: id,
            type: 'one'
          })
        })
    }
  }
}
</script>
