<style src="./style.css" module></style>

<template>
  <div :class="$style.gridItem">
    <slot></slot>
  </div>
</template>

<script type="text/javascript">
export default {
  name: 'aGridItem'
}
</script>
