.grid {
  display: flex;
  flex-flow: row wrap;

  width: 100%;

  &_item {

    &[grid=grid-1-1],
    &[grid=grid-12-12] {
      flex-basis: calc((100% / 12) * 12);
    }

    &[grid=grid-1-2],
    &[grid=grid-6-12] {
      max-width: 50%;
      flex-basis: calc((100% / 12) * 6);
    }

    &[grid=grid-7-12] {
      flex-basis: calc((100% / 12) * 7);
    }

    &[grid=grid-1-12] {
      flex-basis: calc((100% / 12) * 1);
    }

    &[grid=grid-1-6],
    &[grid=grid-2-12] {
      flex-basis: calc((100% / 12) * 2);
    }

    &[grid=grid-1-4],
    &[grid=grid-3-12] {
      flex-basis: calc((100% / 12) * 3);
    }

    &[grid=grid-1-3],
    &[grid=grid-4-12] {
      flex-basis: calc((100% / 12) * 4);
    }

    &[grid=grid-5-12] {
      flex-basis: calc((100% / 12) * 5);
    }

    &[grid=grid-2-3],
    &[grid=grid-8-12] {
      flex-basis: calc((100% / 12) * 8);
    }

    &[grid=grid-3-4],
    &[grid=grid-9-12] {
      flex-basis: calc((100% / 12) * 9);
    }

    &[grid=grid-5-6],
    &[grid=grid-10-12] {
      flex-basis: calc((100% / 12) * 10);
    }

    &[grid=grid-11-12] {
      flex-basis: calc((100% / 12) * 11);
    }

    &[grid=grid-5] {
      flex-basis: 5%;
    }
  }
}
