<style src="./style.css" module></style>

<template>
  <main>
    <div style="padding: 0 60px;">
      <m-logo :class="[$style.logo, 'flex fl-fs']"></m-logo>
      <div :class="$style.notification">
        <span v-if="unread.length > 0">{{unread.length}}</span>
        <a-menu-button name="notification" @click="openNotification"></a-menu-button>
      </div>
      <m-notification v-if="notificationOpen" :notifications="notifications"></m-notification>
      <div :class="$style.tickets">
        <m-menu type="client"></m-menu>
        <div style="width: 95.5%;">
          <div :class="$style.ticketsHeader">
            <div :class="$style.ticketsHeaderFirst">
              <div :class="$style.ticketsHeaderFirstNav">
                <span>{{ currentPage === 'open' ? 'Необработанные заявки' : currentPage === 'pending' ? 'Заявки в ожидании' : 'Закрытые заявки' }}</span>
              </div>
              <div :class="$style.ticketsHeaderFirstSearch">
                <a-input block></a-input>
              </div>
            </div>
            <div :class="[$style.ticketsHeaderSecond, 'flex fl-aic']"> <div></div> Количество заявок: {{tickets.length}}</div>
          </div>
          <div :class="$style.ticketsList">
            <o-ticket-list :class="$style.ticketsListLeft" :tickets="tickets"></o-ticket-list>
            <o-history-list :class="$style.ticketsListRight" type="client"></o-history-list>
          </div>
        </div>
      </div>
      <m-footer :class="$style.footer"></m-footer>


      <modal name="add-ticket" width="400" height="auto" :pivotY="0.3" :scrollable="true">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Добавить новый тикет</p>
          <a-button modificator="ordinary" name="xCircle" color="none" @click="closeModal"></a-button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]" @submit.prevent="onClick" name="form" enctype="multipart/form-data">
          <m-input-group label="Тема" name="title"></m-input-group>
          <span :class="$style.modalBodyLabel">Текст</span>
          <a-textarea name="text" placeholder="Напишите, по какому вопросу обращаетесь..."></a-textarea>
          <div :class="['flex', 'fl-fe']" style="margin-top: 10px">
            <a-button modificator="ordinary" text="Добавить" color="pink"></a-button>
          </div>
        </form>
      </div>
    </modal>
    <notifications group="ticket" class="mt1" position="top center"/>
    </div>
  </main>
</template>

<script type="text/javascript">
import mMenu from 'Molecules/menu'
import mFooter from 'Molecules/footer'
import mLogo from 'Molecules/logo'
import mNavigation from 'Molecules/navigation'
import oTicketList from 'Organisms/ticketList'
import oHistoryList from 'Organisms/historyList'
import eventBus from 'EventBus'
import mInputGroup from 'Molecules/inputGroup'
import mNotification from 'Molecules/notification'

export default {
  name: 'TicketsListClient',
  computed: {
    tickets () {
      return this.$store.getters.getTicketsByTypeClient()
    },
    currentPage () {
      return this.$store.getters.getCurrentPage
    },
    notifications () {
      return this.$store.getters.getNotifications
    },
    unread () {
      return this.$store.getters.getUnread()
    }
  },
  methods: {
    onClick (e) {
      var data = new FormData()
      data.append('title', this.ticketData.title)
      data.append('text', this.ticketData.text)
      for (var x = 0; x < this.ticketData.files.length; x++) {
        data.append('fileToUpload[]', this.ticketData.files[x])
      }
      this.$api.addTicket(data)
        .then(res => {
          var h = {
            user: [this.$auth.currentUser().id],
            type: 'ticket',
            ticket: [res.data.ticket._id],
            text: ['добавил/а новый тикет']
          }
          this.$socket.emit('addHistoryStaff', h)
          var h2 = {
            user: [this.$auth.currentUser().id],
            ticket: [res.data.ticket._id],
            text: ['добавили новый тикет']
          }
          this.$socket.emit('addHistoryClient', h2)
          this.$modal.hide('add-ticket')
          this.$notify({
            group: 'ticket',
            type: 'success',
            text: 'Тикет успешно создан',
            speed: 300
          })
          this.$store.dispatch('addNewTicket', res.data.ticket)
        })
    },
    closeModal () {
      this.$modal.hide('add-ticket')
    },
    openNotification () {
      this.notificationOpen = !this.notificationOpen
      if (this.unread.length > 0) {
        this.$api.changeUnread(this.unread).then((data) => { this.$store.commit('changeUnread', { ids: data.data }) })
      }
    }
  },
  mounted () {
    eventBus.$on('openTicketModal', () => {
      this.$modal.show('add-ticket')
    })
    eventBus.$on('textareaChange', data => {
      this.ticketData[data.name] = data.value
    })
    eventBus.$on('inputChange', data => {
      this.ticketData[data.name] = data.value
    })
    eventBus.$on('fileUploadChange', data => {
      Array.from(data.data).forEach((item, index) => {
        this.ticketData.files.push(item)
      })
    })
    eventBus.$on('removeFile', index => {
      this.ticketData.files.splice(index, 1)
    })
  },
  data () {
    return {
      ticketData: {
        title: '',
        text: '',
        files: []
      },
      notificationOpen: false
    }
  },
  sockets: {
    notificationAdded (data) {
      if (data.user[0]._id === this.$auth.currentUser().id) {
        this.$store.commit('addNewNotification', data)
      }
    }
  },
  components: {
    mMenu,
    mFooter,
    mLogo,
    mNavigation,
    oTicketList,
    oHistoryList,
    mInputGroup,
    mNotification
  }
}
</script>
