:global .flex {
  display: flex;
  flex-wrap: wrap;

  &.fl-dr {
    flex-direction: row;
  }

  &.fl-dc {
    flex-direction: column;
  }

  &.fl-fs {
    justify-content: flex-start;
  }

  &.fl-fe {
    justify-content: flex-end;
  }

  &.fl-sb {
    justify-content: space-between;
  }

  &.fl-sa {
    justify-content: space-around;
  }

  &.fl-c {
    justify-content: center;
  }

  &.fl-aic {
    align-items: center;
  }

  &.fl-aifs {
    align-items: flex-start;
  }
}