@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?j4ml3f');
  src:  url('/fonts/icomoon.eot?j4ml3f#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?j4ml3f') format('truetype'),
    url('/fonts/icomoon.woff?j4ml3f') format('woff'),
    url('/fonts/icomoon.svg?j4ml3f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global .icon-triangle-up:before {
  content: "\e902";
}
:global .icon-triangle-down:before {
  content: "\e91b";
}
:global .icon-pencil:before {
  content: "\e905";
}
:global .icon-price-tags:before {
  content: "\e936";
}
:global .icon-history:before {
  content: "\e94d";
}
:global .icon-alarm:before {
  content: "\e950";
}
:global .icon-undo2:before {
  content: "\e967";
}
:global .icon-user:before {
  content: "\e971";
}
:global .icon-search:before {
  content: "\e986";
}
:global .icon-cog:before {
  content: "\e994";
}
:global .icon-bin:before {
  content: "\e9ac";
}
:global .icon-flag:before {
  content: "\e9cc";
}
:global .icon-attachment:before {
  content: "\e9cd";
}
:global .icon-eye:before {
  content: "\e9ce";
}
:global .icon-eye-blocked:before {
  content: "\e9d1";
}
:global .icon-star-empty:before {
  content: "\e9d7";
}
:global .icon-star-full:before {
  content: "\e9d9";
}
:global .icon-heart:before {
  content: "\e9da";
}
:global .icon-cancel-circle:before {
  content: "\ea0d";
}
:global .icon-arrow-up:before {
  content: "\ea32";
}
:global .icon-arrow-right:before {
  content: "\ea34";
}
:global .icon-arrow-down:before {
  content: "\ea36";
}
:global .icon-arrow-left:before {
  content: "\ea38";
}
:global .icon-mail-envelope-closed2:before {
  content: "\e901";
}
:global .icon-mail-envelope-open2:before {
  content: "\e903";
}
:global .icon-document-text:before {
  content: "\e90e";
}
:global .icon-document-add:before {
  content: "\e90f";
}
:global .icon-inbox-document-text:before {
  content: "\e910";
}
