/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background: #f47373;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

button {
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
}

a {
  color: inherit;
}

@font-face {
  font-family: 'MicrogrammaD-BoldExte';
  src: url('/fonts/Microgramma/MicrogrammaD-BoldExte.eot');
  src: url('/fonts/Microgramma/MicrogrammaD-BoldExte.ttf') format('truetype'),
    url('/fonts/Microgramma/MicrogrammaD-BoldExte.woff') format('woff'),
    url('/fonts/Microgramma/MicrogrammaD-BoldExte.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-size: 13px;
  font-family: 'Roboto Condensed';
  font-weight: 400;

  --main-font: 'Roboto Condensed';
  /* color */
  --color-background: #f47373;
  --color-text-main: #263238; /* темное | почти черное */
  --color-text-pochti-main: #454545; /* почти темное */
  --color-text-secondary: #a5a5a5; /* самый темный серый  */
  --color-bg-green: #00bfa5;
  --color-bg-green-active: #bf000d;

  --color-border-main: #e6e6e6;
  --color-border-secondary: #e8e8e8;
  --font-logo: 'MicrogrammaD-BoldExte', sans-serif;

  --color-grey: #e5e7e7; /* темный серый */
  --color-grey-light: #f1f1f1;
  --color-red: #ab2d2d;
  --color-pink: #f47373;

  /* shadow */
  --shadow-level-main: 0px 0px 13.3px 0.7px rgba(0, 0, 0, 0.1);

  /*z-indexes*/
  --zindex-main-low: 1;
  --zindex-main-medium: 2;

  --color-grey-first: #929292;
  --color-grey-second: #777777;
  --color-grey-third: #dddddf;
  --color-grey-fourth: #e5e5e5;
  --color-grey-fifth: #565656;
  --color-grey-sixth: #888888;
}

.router {
  position: relative;
  display: flex;
  flex-flow: row wrap;

  width: 100%;
}
