/*
 * @margins:
 * m - for all sides,
 * mr - margin right,
 * ml - margin left,
 * mt - margin top,
 * mb - margin bottom,
 * mh - margin horizontal (margin-left, margin-right),
 * mv - margin vertical (margin-top, margin-bottom)
 *
 * @paddings:
 * p - for all sides,
 * pr - padding right,
 * pl - padding left,
 * pt - padding top,
 * pb - padding bottom,
 * ph - padding horizontal (padding-left, padding-right),
 * pv - padding vertical (padding-top, padding-bottom)
 */

.mr1 {
  margin-right: 8px;
}

.mr2 {
  margin-right: 16px
}

.mr5 {
  margin-right: 40px;
}

.ml5 {
  margin-left: 40px;
}

.mb1 {
  margin-bottom: 8px;
}

.mb2 {
  margin-bottom: 16px;
}

.mb3 {
  margin-bottom: 24px;
}

.mt1 {
  margin-top: 8px;
}

.mh1 {
  margin-right: 8px;
  margin-left: 8px;
}

.ph3 {
  padding-left: 24px;
  padding-right: 24px;
}

.ph5 {
  padding-left: 40px;
  padding-right: 40px;
}

.pt1 {
  padding-top: 8px;
}

.pl2 {
  padding-left: 16px;
}

.pv2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pv3 {
  padding-top: 10px!important;
  padding-bottom: 10px!important;
}
