<style src="./style.css" module></style>

<template>
  <div :class="$style.notification">
    <div :class="[$style.notificationHeader, 'flex fl-aic']">
      <span>Уведомления</span>
    </div>
    <div :class="$style.notificationBody">
      <div :class="$style.notificationBodyEach" v-for="notif in list" :key="notif._id">
        <div v-if="notif.type !== 'deadline'">
          <a-date format="D MMM YYYY [в] HH:mm" :date="notif.createdAt" modificator="grey"></a-date><br>
          <span :class="$style.notificationBodyEachPink">{{notif.user[1].username}}</span>
          <span>{{' ' + notif.text[0]}} </span>
          <span :class="$style.notificationBodyEachPink">{{notif.ticket ? ' #' + notif.ticket.number : ''}}</span>
          <span>{{notif.text[1] ? notif.text[1] : ''}}</span>
        </div>
        <div v-if="notif.type === 'deadline'">
          <a-date format="D MMM YYYY [в] HH:mm" :date="notif.createdAt" modificator="grey"></a-date><br>
          <span>{{notif.text[0]}}</span>
          <span :class="$style.notificationBodyEachPink">{{notif.ticket ? ' #' + notif.ticket.number : ''}}</span>
          <span>{{notif.text[1] ? notif.text[1] : ''}}</span>
          <span :class="$style.notificationBodyEachPink">{{notif.text[2] ? notif.text[2] : ''}}</span>
          <span>{{notif.text[3] ? notif.text[3] : ''}}</span>
        </div>
      </div>
      <div v-if="list.length === 0" class="flex fl-c" style="padding-top: 10px">
        У вас нет уведомлений
      </div>
    </div>
    <div :class="[$style.notificationFooter, 'flex fl-c fl-aic']" v-if="notifications.length > 2" v-on:click="showAll">
      <span>{{all ? 'Скрыть' : 'Еще'}}</span>
    </div>
  </div>
</template>

<script type="text/javascript">

export default {
  name: 'mNotification',
  data () {
    return {
      list: [],
      all: false
    }
  },
  beforeMount () {
    if (this.notifications.length > 2) {
      this.cutNotifications()
    } else {
      this.list = this.notifications
    }
  },
  methods: {
    showAll () {
      this.all = !this.all
      if (this.all) {
        this.list = this.notifications
      } else {
        this.cutNotifications()
      }
    },
    cutNotifications () {
      this.list = this.notifications.slice(0, 2)
    }
  },
  props: {
    notifications: Array
  }
}
</script>
