<style src="./style.css" module></style>

<template>
  <time :class="[$style.date, getStyle]" :datetime="date">
    {{pubDate}}
  </time>
</template>

<script type="text/javascript">
import moment from 'moment'

export default {
  name: 'aDate',
  props: {
    date: '',
    format: {
      type: String,
      default: 'D MMMM YYYY'
    },
    lang: {
      type: String,
      default: 'ru'
    },
    modificator: {
      type: String,
      default: 'main'
    }
  },
  data () {
    return {
      formats: ['D MMM [в] HH:mm', 'D MMM YYYY [в] HH:mm', 'L LT', 'D MMM', 'D MMMM YYYY', 'YYYY']
    }
  },
  computed: {
    pubDate () {
      const subDate = moment(this.date)
      let newFormat = this.format
      if (!this.formats.includes(this.format)) {
        newFormat = 'D MMM YYYY'
      }
      // console.log(this.format)
      return subDate
        .locale(this.lang)
        .format(newFormat)
    },
    getStyle () {
      const styleMap = {
        'main': this.$style.dateMain,
        'secondary': this.$style.dateSecondary,
        'light': this.$style.dateLight,
        'grey': this.$style.dateGrey
      }
      return styleMap[this.modificator]
    }
  }
}
</script>
