<style src="./style.css" module></style>

<template>
  <a-grid :class="[$style.ticket, { 'shift': ticket.type === 'note' }]">
      <a-grid-item grid="grid-1-12" :class="[$style.ticketItem, 'flex', 'fl-c', 'fl-aifs']">
        <a-avatar :src="ticket.avatar" size="big"></a-avatar>
        <!-- <a-avatar :src="ticket.user.avatar" size="big" v-if="ticket.type !== 'ticket'"></a-avatar> -->
      </a-grid-item>
      <a-grid-item grid="grid-9-12" :class="[$style.ticketItemData, 'flex', 'fl-dc', 'fl-fs']">
        <span v-text="ticket.ticketTitle"></span>
        <span>{{ticket.type === 'answer' ? ticket.username + ' ответил/а ' + ticket.client :
                ticket.type === 'note' ? ticket.username + ' написал/а заметку' :
                ticket.username}}</span>
        <!-- <span><slot></slot></span> не знаю для чего то, поэтому не стала удалять -->
        <pre v-html="ticket.text" style="max-width: 100%; white-space:pre-line"></pre>
        <ul>
          <li v-for="file in ticket.files"><a-link target="_blank" :href="file.path" :text="file.name"></a-link></li>
        </ul>
      </a-grid-item>
      <a-grid-item grid="grid-2-12" :class="[$style.ticketItem, 'flex', 'fl-fe', 'fl-aifs']">
        <a-date modificator="secondary" format="D MMM [в] HH:mm" :date="ticket.date" :class="$style.ticketItemDate"></a-date>
      </a-grid-item>
    </a-grid>
</template>

<script>
export default {
  name: 'mEachTicket',
  props: {
    ticket: {
      type: Object
    }
  }
}
</script>