.ticket {
  font-size: 15px;
  font-family: inherit;
  line-height: 1.5em;
  flex-wrap: nowrap;
  color: #515151;
  background: #fff;
  /*margin-bottom: 20px;*/
  padding: 20px 0;

  &--item {

    &--data {
      color: #000;

      & pre {
        margin-bottom: 5px;
        color: #515151;
        font-weight: 300;
      }

      & span:first-child {
        color: #000;
        font-size: 17px;
      }

      & span:nth-child(2) {
        color: var(--color-text-pochti-main);
        font-size: 11px;
      }

      & span:nth-child(3) {
        font-weight: 300;
      }
    }

    &--date {
      font-weight: 300;
    }
  }
}

:global .shift {
  margin-left: 50px;
}
