<style src="./style.css" module></style>

<template>
  <button @click="onClick" :class="[$style.button, getStyle, getColor, getTextType]" :type="type">
    <span>
      <i v-if="modificator === 'ordinary'" :class="[getIcon]"></i>
    </span>{{text}}
  </button>
</template>

<script type="text/javascript">
export default {
  name: 'aButton',
  props: {
    type: String,
    modificator: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    color: {
      type: String,
      default: ''
    },
    textType: {
      type: String,
      default: 'uppercase'
    }
  },
  computed: {
    getStyle () {
      const styleMap = {
        'ordinary': this.$style.buttonOrdinary,
        'main': this.$style.buttonMain
      }
      return styleMap[this.modificator]
    },
    getIcon () {
      const iconMap = {
        'trash': 'icon-bin',
        'envelopeClosed': 'icon-mail-envelope-closed2',
        'envelopeOpen': 'icon-mail-envelope-open2',
        'flag': 'icon-flag',
        'eyeHidden': 'icon-eye-blocked',
        'eye': 'icon-eye',
        'star': 'icon-star-full',
        'documentText': 'icon-document-text',
        'documentAdd': 'icon-document-add',
        'inboxText': 'icon-inbox-document-text',
        'search': 'icon-search',
        'pen': 'icon-pencil',
        'tag': 'icon-price-tags',
        'paperclip': 'icon-attachment',
        'triangleUp': 'icon-triangle-up',
        'triangleDown': 'icon-triangle-down',
        'history': 'icon-history',
        'alarm': 'icon-alarm',
        'undo': 'icon-undo2',
        'user': 'icon-user',
        'cog': 'icon-cog',
        'arrowLeft': 'icon-arrow-left',
        'xCircle': 'icon-cancel-circle'
      }
      return iconMap[this.name]
    },
    getColor () {
      const colorMap = {
        'pink': this.$style.buttonPink,
        'grey': this.$style.buttonGrey,
        'none': this.$style.buttonNone,
        'noneGrey': this.$style.buttonNoneGrey,
        'greyLight': this.$style.buttonGreyLight
      }
      return colorMap[this.color]
    },
    getTextType () {
      const textMap = {
        'uppercase': this.$style.buttonUppercase,
        'none': this.$style.buttonTextnone
      }
      return textMap[this.textType]
    }
  },
  methods: {
    onClick () {
      this.$emit('click')
    }
  }
}
</script>
