<style src="./style.css" module></style>

<template>
	<p :class="[$style.paragraph]" v-html="textHtml"></p>
</template>

<script type="text/javascript">
export default {
  name: 'aParagraph',
  props: {
    textHtml: {
      type: String
    }
  }
}
</script>
