<template>
    <div :class="$style.ticketsBody">
      <div :class="$style.ticketsList">
        <o-clients :class="$style.ticketsListLeft" :clients="staff" modificator="staff"></o-clients>
      </div>
      <a-button modificator="ordinary" text="добавить сотрудника" color="pink" @click='openModal' :class="$style.fab"></a-button>
      <modal name="add-staff" width="400" height="350px">
        <div :class="[$style.modal, 'flex', 'fl-dc']">
          <div :class="['flex', 'fl-sb', $style.modalHeader]">
            <p>Добавить сотрудника</p>
            <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
          </div>
          <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]" @submit.prevent="addUser">
            <m-input-group name="username" placeholder="01AU01" label="ID"></m-input-group>
            <m-input-group name="name" placeholder="Сымбат Нурбай" label="Имя"></m-input-group>
            <m-input-group name="email" placeholder="На этот адрес придет инструкция для авторизации" label="Электронная почта" type="email"></m-input-group>
            <m-input-group name="position" placeholder="Расчетный бухгалтер" label="Должность"></m-input-group>
            <div :class="['flex', 'fl-fe']">
              <a-button modificator="ordinary" text="Добавить" color="pink"></a-button>
            </div>
          </form>
        </div>
      </modal>
      <notifications group="clients" position="top center"/>
    </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import oClients from 'Organisms/clients'
import eventBus from 'EventBus'
export default {
  name: 'pStaff',
  methods: {
    openModal () {
      this.$modal.show('add-staff')
    },
    closeModal () {
      this.$modal.hide('add-staff')
    },
    addUser () {
      this.$api.addUser(this.formData, 'users')
        .then(({ data }) => {
          this.$store.commit('addStaff', data.user)
          this.$modal.hide('add-staff')
          this.$notify({
            group: 'clients',
            type: 'success',
            text: data.message,
            speed: 1000
          })
        })
        .catch((err) => {
          if (err.response.data.message === 'email not found') {
            this.$notify({
              group: 'clients',
              type: 'error',
              text: 'Введите правильные данные',
              speed: 1000
            })
          } else {
            this.$notify({
              group: 'clients',
              type: 'error',
              text: 'Неизвестная ошибка, попробуйте позже',
              speed: 1000
            })
          }
        })
    }
  },
  computed: {
    staff () {
      return this.$store.getters.getStaff(this.$auth.currentUser().id)
    }
  },
  components: {
    mInputGroup,
    oClients
  },
  data () {
    return {
      formData: {
        username: '',
        name: '',
        email: '',
        position: ''
      }
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
  }
}
</script>

<style src="../style.css" module></style>
