<template>
  <div style="padding: 0 60px;">
    <m-logo :class="[$style.logo, 'flex fl-fs']"></m-logo>
    <div :class="$style.notification">
      <span v-if="unread.length > 0">{{unread.length}}</span>
      <a-menu-button name="notification" @click="openNotification"></a-menu-button>
    </div>
    <m-notification v-if="notificationOpen" :notifications="notifications"></m-notification>
    <div :class="$style.tickets">
      <m-menu></m-menu>
      <div style="width: 95.5%;">
        <div :class="[$style.ticketsHeader, 'flex fl-sb']">
          <div :class="$style.ticketsHeaderFirst">
            <div :class="$style.ticketsHeaderFirstNav">
              <span>Настройки</span>
              <m-navigation type="settings" :class="$style.ticketsHeaderFirstNavBtn"></m-navigation>
            </div>
            <div :class="$style.ticketsHeaderFirstSearch">
              <a-input block></a-input>
            </div>
          </div>
          <div v-if="users" 
              :class="[$style.ticketsHeaderSecond, 'flex fl-aic']"><div></div> 
          Всего: {{users !== null ? users.length : '' }}</div>
        </div>
        <router-view></router-view>

        <modal name="delete-user" width="400" height="150">
          <div :class="[$style.modal, 'flex', 'fl-dc']">
            <div :class="['flex', 'fl-sb', $style.modalHeader]">
              <p>Удаление {{currentNav === 'staff' ? 'сотрудника' : 'клиента'}}</p>
              <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
            </div>
            <form :class="['flex fl-dc fl-aic fl-sb', $style.modalBody]" @submit.prevent="deleteUser">
              <div :class="['flex', 'fl-c']">
                Вы действительно хотите удалить этого {{currentNav === 'staff' ? 'сотрудника' : 'клиента'}}?
              </div>
              <div :class="['flex', 'fl-sa']" style="width: 200px">
                <a-button modificator="ordinary" text="Удалить" color="pink" textType="none"></a-button>
                <a-button modificator="ordinary" text="Отменить" color="greyLight" textType="none" type="button" @click="closeModal"></a-button>
              </div>
            </form>
          </div>
        </modal>
      </div>
    </div>
    <m-footer :class="$style.footer"></m-footer>
  </div>
</template>

<script>
import mLogo from 'Molecules/logo'
import mFooter from 'Molecules/footer'
import mMenu from 'Molecules/menu'
import mNavigation from 'Molecules/navigation'
import eventBus from 'EventBus'
import mNotification from 'Molecules/notification'

export default {
  name: 'pSettings',
  components: {
    mLogo,
    mFooter,
    mMenu,
    mNavigation,
    mNotification
  },
  data () {
    return {
      userToDelete: '',
      users: null,
      notificationOpen: false
    }
  },
  computed: {
    currentNav () {
      return this.$store.getters.getCurrentNav
    },
    checkedUsers () {
      return this.$store.getters.getCheckedUsers
    },
    notifications () {
      return this.$store.getters.getNotifications
    },
    unread () {
      return this.$store.getters.getUnread()
    },
    staff () {
      return this.$store.getters.getStaff(this.$auth.currentUser().id)
    },
    clients () {
      return this.$store.getters.getClients
    }
  },
  methods: {
    openModal () {
      this.$modal.show('delete-user')
    },
    closeModal () {
      this.$modal.hide('delete-user')
    },
    deleteUser () {
      var tempArr = this.userToDelete === 'checked' ? this.checkedUsers : [this.userToDelete]
      this.$api.deleteUser(tempArr, this.currentNav).then(res => {
        this.$store.dispatch('deleteUsers', { users: tempArr, type: this.currentNav })
        this.$store.commit('emptyCheckedUsers')
        this.closeModal()
      })
    },
    openNotification () {
      this.notificationOpen = !this.notificationOpen
      if (this.unread.length > 0) {
        this.$api.changeUnread(this.unread).then((data) => { this.$store.commit('changeUnread', { ids: data.data }) })
      }
    },
    countUsers () {
      this.users = this.$router.history.current.path === '/settings/staff' ? this.staff
        : this.$router.history.current.path === '/settings/clients' ? this.clients
          : null
    }
  },
  mounted () {
    eventBus.$on('deleteUser', data => {
      this.userToDelete = data.id
      this.openModal()
    })
    eventBus.$on('navChanged', data => {
      this.users = data.page === 'staff' ? this.staff
        : data.page === 'clients' ? this.clients
          : null
    })
  },
  beforeMount () {
    this.countUsers()
  },
  sockets: {
    notificationAdded (data) {
      if (data.user[0]._id === this.$auth.currentUser().id) {
        this.$store.commit('addNewNotification', data)
      }
    }
  },
  watch: {
    staff: function () {
      this.countUsers()
    },
    clients: function () {
      this.countUsers()
    }
  }
}
</script>

<style src="./style.css" module></style>
