.tickets {
  display: inline-flex;
  width: 100%;
  font-family: inherit;
  height: calc(100vh - 150px);

  &--body {
    position: relative;
    height: calc(100% - 122px);

    &--personal {
      height: calc(100% - 89px);
    }
  }

  &--list {
    display: inline-flex;
    width: 100%;
    height: 100%;
    background: var(--color-grey-light);
    padding: 5px 20px 20px;

    &--left {
      width: 100%;
    }

    /*&--right {
      width: 25%;
    }*/
  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 20px 25px 0;
    color: var(--color-text-secondary);
    font-weight: 300;

    &--first {
      display: inline-flex;
      padding: 20px;
      width: 100%;

      &--nav {
        width: 75%;
        display: inline-flex;

        & span {
          font-size: 2.3rem;
        }

        &--btn {
          margin-top: 3px;
        }
      }

      &--search {
        width: 25%;
      }
    }

    &--second {
      padding: 10px 0;
      & div {
        width: 5px;
        height: 5px;
        border-radius: 2px;
        background-color: #72db34;
        margin: 0 5px 0 10px;
      }
    }

    &--left {
      font-size: 2em;
    }

    &--right {
      font-size: 1.2em;
      /*float: right;*/
    }
  }
}

.logo {
  padding: 32.5px 60px;
}
.footer {
  padding: 17.5px 0;
}

.modal {
  height: 100%;

  &--header {
    color: #fff;
    padding: 0 20px;
    line-height: 3;
    background: var(--color-background)
  }

  &--body {
    padding: 20px;
    flex-grow: 1;
  }
}

.fab {
  position: absolute;
  bottom: 40px;;
  right: 40px;

}
/*
 * personal page styles: personal/index.vue
 */
.personal {
  width: 100%;
  background: #fff;
  height: calc(100% - 37px);
  color: var(--color-text-secondary);

  &--header {
    width: 100%;
    border-bottom: 1px solid var(--color-grey-light);

    &--info {
      line-height: 1.5
    }
  }

  &--image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  &--avatar {
    width: 90px;
    height: 90px;
    position: relative;
    cursor: pointer;

    &:hover div {
      visibility: visible;
    }

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    & div {
      position: absolute;
      visibility: hidden;
      border-radius: 50%;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }
  }

  &--email {
    width: 30%;
    padding: 15px 40px;
    text-align: right;
  }

}

.history {
  width: 20%;
}

/*
 * тут страница редактирования клиента и сотрудника
 */
.bread {
  width: 100%;
  height: 37px;
  background: #fff;
  border-bottom: 1px solid #f2f2f2;

  & button {
    height: 25px;
  }
}

.notification {
  position: absolute;
  top: 50px;
  right: 110px;

  & span {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
    color: var(--color-pink);
    font-size: 9px;
    font-weight: 300;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 10px;
  }
}
