<template>
  <div :class="$style.ticketsBody">
    <div :class="$style.ticketsList">
      <o-clients :class="$style.ticketsListLeft" :clients="clients"></o-clients>
    </div>
    <a-button modificator="ordinary" text="добавить клиента" color="pink" @click='openModal' :class="$style.fab"></a-button>
    <modal name="add-client" width="400">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Добавить клиента</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]" @submit.prevent="addUser">
          <m-input-group name="username" placeholder="01AU01" label="ID Клиента"></m-input-group>
          <m-input-group name="name" placeholder="Automato" label="Имя клиента"></m-input-group>
          <m-input-group name="email" placeholder="На этот адрес придет инструкция для авторизации" label="Электронная почта" type="email"></m-input-group>
          <div :class="['flex', 'fl-fe']">
            <a-button modificator="ordinary" text="Добавить" color="pink"></a-button>
          </div>
        </form>
      </div>
    </modal>
    <notifications group="clients" position="top center" class="mt1"/>

  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import oTicketList from 'Organisms/ticketList'
import oClients from 'Organisms/clients'
import eventBus from 'EventBus'
export default {
  name: 'pClients',
  methods: {
    openModal () {
      this.$modal.show('add-client')
    },
    closeModal () {
      this.$modal.hide('add-client')
    },
    addUser () {
      this.$api.addUser(this.formData, 'clients')
        .then(({ data }) => {
          this.$store.commit('addClient', data.user)
          this.$modal.hide('add-client')
          this.$notify({
            group: 'clients',
            type: 'success',
            text: data.message,
            speed: 1000
          })
        })
        .catch((err) => {
          if (err.response.data.message === 'email not found') {
            this.$notify({
              group: 'clients',
              type: 'error',
              text: 'Введите правильные данные',
              speed: 1000
            })
          } else {
            this.$notify({
              group: 'clients',
              type: 'error',
              text: 'Неизвестная ошибка, попробуйте позже',
              speed: 1000
            })
          }
        })
    }
  },
  computed: {
    clients () {
      return this.$store.getters.getClients
    }
  },
  components: {
    mInputGroup,
    oTicketList,
    oClients
  },
  data () {
    return {
      formData: {
        username: '',
        name: '',
        email: ''
      }
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
  }
}
</script>

<style src="../style.css" module></style>
