<template>
  <div :class="$style.ticketsBodyPersonal">
    <div :class="[$style.ticketsList]">
      <div :class="$style.personal" style="width: 50%">
        <div :class="[$style.personalHeader, 'ph5', 'pv2', 'flex']">
          <div :class="[$style.personalAvatar, 'mr2']">
            <img :src="me.avatar" alt="Аватар">
            <div :class="['flex', 'fl-sa', 'fl-aic']">
              <input type="file" style="display: none" id="file" @change="loadFile" accept="image/*">
              <a-button color="none" name="cog" modificator="ordinary" @click="openFile"></a-button>
              <a-button v-if="!isImagePresent" color="none" name="trash" modificator="ordinary" @click="deleteImage"></a-button>
            </div>
          </div>
          <div :class="['flex', 'fl-dc', 'fl-sb', $style.personalHeaderInfo]">
            <div class="">
              <p>{{me.name}}</p>
              <p>{{me.username}}</p>
            </div>
            <div>
              <p>{{me.position || 'Должность не назначена'}}</p>
              <p>{{me.email}}</p>
            </div>
          </div>
        </div>
        <div :class="['ph5', 'flex', 'pt1', $style.ticketsBody]" style="overflow-y: scroll">
          <form @submit.prevent="update">
            <m-input-group name="name" label="Имя" width="300px" :value="me.name"></m-input-group>
            <m-input-group name="username" label="ID" :value="me.username"></m-input-group>
            <m-input-group name="position" label="Должность" :value="me.position"></m-input-group>
            <m-input-group name="email" label="Электронная почта" :value="me.email"></m-input-group>
            <m-input-group name="company" label="Название компании" :value="me.company"></m-input-group>
            <m-input-group name="password" label="Пароль" type="password"></m-input-group>
            <m-input-group name="rePassword" label="Подтверждение пароля" type="password"></m-input-group>
            <a-button :class="['mb3']" modificator="ordinary" color="pink" text="Сохранить"></a-button>
          </form>
        </div>
      </div>
      <div :class="[$style.personal, $style.personalEmail]">
        <check-email v-if="me.type === 'admin'" :emailModule="me.emailModule"></check-email>
      </div>
      <o-history-list :class="$style.history" type="profile"></o-history-list>

    </div>
    <modal name="upload-photo" width="340" height="425">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Загрузка фото</p>
          <a-button modificator="ordinary" name="xCircle" @click="closeModal" color="none"></a-button>
        </div>
        <div :class="['flex', 'fl-dc', 'fl-sb', 'fl-aic', $style.modalBody]">
          <img :src="imageSrc" alt="Preview image" :class="$style.personalImage">
          <div :class="['flex', 'fl-sa']">
            <a-button modificator="ordinary" text="сохранить" color="pink" class="mh1" @click="uploadFile"></a-button>
            <a-button modificator="ordinary" text="отмена" color="grey" class="mh1"></a-button>
          </div>
        </div>
      </div>
    </modal>
    <notifications group="avatar" position="top center" class="mt1"/>
    <notifications group="clients" position="top right" class="mt1"/>

  </div>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import oTicketList from 'Organisms/ticketList'
import oClients from 'Organisms/clients'
import eventBus from 'EventBus'
import oHistoryList from 'Organisms/historyList'
import checkEmail from 'Pages/checkEmail'

export default {
  name: 'pPersonal',
  data () {
    return {
      formData: {
        name: '',
        username: '',
        email: '',
        company: '',
        position: '',
        password: '',
        rePassword: ''
      },
      uploadedPhoto: '',
      imageSrc: '',
      userData: {
        email: '',
        password: '',
        imap: '',
        smtp: ''
      }
    }
  },
  computed: {
    me () {
      return this.$store.getters.getCurrentUser
    },
    isImagePresent () {
      return this.me.avatar === '/images/photo-placeholder.png'
    }
  },
  methods: {
    update () {
      this.$api.updateMe(this.formData).then(({ data }) => {
        this.$notify({
          group: 'clients',
          type: 'success',
          text: data.message,
          speed: 300
        })

        // profile history
        var h = []
        var tempObj = {}
        var tempString = ''
        Object.keys(this.formData).map((key) => {
          if (this.formData[key] !== '' && this.formData[key] !== 'rePassword') {
            switch (key) {
              case 'name': tempString = 'изменили свое имя с'
                break
              case 'username': tempString = 'изменили свой ID с'
                break
              case 'email': tempString = 'изменили электронный адрес с'
                break
              case 'company': tempString = 'изменили название компании с'
                break
              case 'position': tempString = 'изменили свою должность c'
                break
              case 'password': tempString = 'изменили свой пароль'
                break
            }
            tempObj = {
              user: this.me._id,
              userTo: this.me._id,
              text: [tempString, 'на'],
              text2: [''],
              oldData: this.me[key],
              newData: this.formData[key]
            }
            h.push(tempObj)
          }
        })
        this.$socket.emit('addProfileHistory', h)
        this.$store.dispatch('changeStates', data)
        this.$api.getTickets()
          .then(res => {
            this.$store.commit('fetchTickets', { tickets: res.data })
          })
      }).catch((err) => {
        eventBus.$emit('inputError', { ...err.response.data })
      })
    },
    openFile () {
      document.querySelector('#file').click()
    },
    loadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
        this.uploadedPhoto = ev.target.files[0]
        this.$modal.show('upload-photo')
      }
    },
    closeModal () {
      this.$modal.hide('upload-photo')
    },
    uploadFile () {
      const data = new FormData()
      data.append('avatar', this.uploadedPhoto)
      this.$api.changeAvatar(this.me._id, data)
        .then(({ data }) => {
          this.$modal.hide('upload-photo')
          this.$notify({
            group: 'avatar',
            type: 'success',
            text: 'Аватар успешно обновлен',
            speed: 300
          })
          var h = []
          var tempObj = {
            user: this.me._id,
            userTo: this.me._id,
            text: ['изменили фото своего профиля']
          }
          h.push(tempObj)
          this.$socket.emit('addProfileHistory', h)
          this.$store.dispatch('changeStates', data)
          this.$api.getTickets()
            .then(res => {
              this.$store.commit('fetchTickets', { tickets: res.data })
            })
        })
    },
    deleteImage () {
      this.$api.deleteImage(this.me._id)
        .then(data => {
          this.$notify({
            group: 'avatar',
            type: 'success',
            text: 'Аватар успешно удален',
            speed: 300
          })
          var h = []
          var tempObj = {
            user: this.me._id,
            userTo: this.me._id,
            text: ['удалили фото своего профиля']
          }
          h.push(tempObj)
          this.$socket.emit('addProfileHistory', h)
          this.$store.dispatch('changeStates', data.data)
          this.$api.getTickets()
            .then(res => {
              this.$store.commit('fetchTickets', { tickets: res.data })
            })
        })
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
  },
  components: {
    mInputGroup,
    oTicketList,
    oClients,
    oHistoryList,
    checkEmail
  }
}
</script>

<style src="../style.css" module></style>
