<style src="./style.css" module></style>

<template>
  <main>
    <div style="padding: 0 60px;">
      <m-logo :class="[$style.logo, 'flex fl-fs']"></m-logo>
      <div :class="$style.tickets">
        <m-menu type="client"></m-menu>
        <div style="width: 95.5%;">
          <div :class="[$style.ticketsHeader, 'flex fl-sb']">
            <div :class="$style.ticketsHeaderLeft">
              <span>Добавить новый тикет</span>
            </div>
            <div :class="[$style.ticketsHeaderRight, 'flex fl-aic']">
              <a-date :date="date"></a-date>
            </div>
          </div>
          <div :class="$style.ticketsBody">
            <o-add-ticket></o-add-ticket>
          </div>
        </div>
      </div>
      <m-footer :class="$style.footer"></m-footer>
    </div>
  </main>
</template>

<script type="text/javascript">
import mMenu from 'Molecules/menu'
import mFooter from 'Molecules/footer'
import mLogo from 'Molecules/logo'
import oAddTicket from 'Organisms/addTicketBlock'

export default {
  name: 'TicketsList',
  data () {
    return {
      date: Date.now()
    }
  },
  components: {
    mMenu,
    mFooter,
    mLogo,
    oAddTicket
  }
}
</script>
