.tickets {
  display: inline-flex;
  width: 100%;
  min-height: 670px;
  font-family: inherit;

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 25px;
    color: var(--color-grey-second);
    font-weight: 300;

    &--left {
      font-size: 2.3em;
    }

    &--right {
      font-size: 1.2em;
    }
  }

  &--body {
    background: var(--color-grey-light);
    padding: 0 25px 25px;
    /*height: 91%;*/
  }
}

.logo {
  /*width: 315px;*/
  padding: 40px 60px;
}
.footer {
  padding: 20px 0;
}