<style src="./style.css" module></style>

<template>
  <form :class="[$style.form, 'flex', 'fl-dc', 'fl-sa']" @submit.prevent="signup">
    <m-input-group label="Имя и фамилия" placeholder="Рустам Жуаспаев" name="name"></m-input-group>
    <m-input-group label="Имя пользователя *" placeholder="automato" name="username"></m-input-group>
    <m-input-group label="Почта *" placeholder="ok@automato.me" name="email" type="email"></m-input-group>
    <m-input-group label="Название компании" placeholder="Automato" name="company"></m-input-group>
    <m-input-group label="Пароль" type="password" placeholder="********" name="password"></m-input-group>
    <m-input-group label="Повторите пароль" type="password" placeholder="********" name="rePassword"></m-input-group>
    <a-button text="зарегистрироваться" color="pink" modificator="main"></a-button>
  </form>
</template>

<script>
import mInputGroup from 'Molecules/inputGroup'
import eventBus from 'EventBus'

export default {
  name: 'oSignup',
  components: {
    mInputGroup
  },
  methods: {
    signup () {
      this.$auth.signup(this.userData)
        .then((res) => {
          eventBus.$emit('signupSuccess', { message: 'Вы успешно зарегались!' })
          this.$router.go('/')
        })
        .catch((err) => {
          if (!err.response) {
            Object.keys(err).forEach((item, index) => {
              const key = Object.keys(err)[index]
              eventBus.$emit('inputError', { origin: key, message: err[item] })
            })
          } else {
            eventBus.$emit('inputError', { ...err.response.data })
          }
        })
    }
  },
  data () {
    return {
      userData: {
        name: '',
        email: '',
        username: '',
        company: '',
        password: '',
        rePassword: ''
      }
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.userData[data.name] = data.value
    })
  }
}
</script>
