<style src="./style.css" module></style>

<template>
  <div :class="[$style.nav, 'flex fl-aic']">
    <div v-if="type === 'tickets'">
      <a-button name="mine" text="Мои" :color="nav.mine ? 'pink' : ''" @click="onClick('mine')" :class="$style.navBtn"></a-button>
      <a-button name="anyone" text="Общие" :color="nav.anyone ? 'pink' : ''" @click="onClick('anyone')" :class="$style.navBtn"></a-button>
      <a-button name="all" text="Все" :color="nav.all ? 'pink' : ''" @click="onClick('all')" :class="$style.navBtn"></a-button>
    </div>
    <div v-if="type === 'settings'">
      <router-link :to="{ path: '/settings/personal'}" class="text-dec">
        <a-button name="personal" text="Мои данные" :color="nav.personal ? 'pink' : ''" @click="onClick('personal')" :class="$style.navBtn"></a-button>
      </router-link>
      <router-link :to="{ path: '/settings/clients'}" class="text-dec">
        <a-button name="clients" text="Клиенты" :color="nav.clients ? 'pink' : ''" @click="onClick('clients')" :class="$style.navBtn"></a-button>
      </router-link>
      <router-link :to="{ path: '/settings/staff'}" class="text-dec">
        <a-button name="staff" text="Сотрудники" :color="nav.staff ? 'pink' : ''" @click="onClick('staff')" :class="$style.navBtn"></a-button>
      </router-link>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapGetters } from 'vuex'
import eventBus from 'EventBus'

export default {
  name: 'mNavigation',
  props: {
    type: {
      type: String,
      default: 'tickets'
    }
  },
  data () {
    return {
      nav: {
        mine: false,
        anyone: false,
        all: false,
        clients: false, // клиенты в настройках
        staff: false, // сотрудники в настройках
        personal: false // мои данные в настройках
      }
    }
  },
  beforeMount () {
    this.getNav()
    eventBus.$on('go-home', () => {
      this.onClick('mine')
    })
  },
  computed: {
    ...mapGetters({
      currentNav: 'getCurrentNav'
    })
  },
  methods: {
    onClick (page) {
      this.$store.dispatch('changeNav', {
        currentNav: page
      })
      eventBus.$emit('navChanged', { page })
      this.getNav()
    },
    getNav () {
      Object.keys(this.nav).forEach((item) => {
        this.nav[item] = item === this.currentNav
      })
    }
  }
}
</script>
