<style src="./style.css" module></style>
<template>
  <main>
    <div>
      <a-button :class="['mb3']" 
                  modificator="ordinary" 
                  :color="emailModule ? 'grey' : 'pink'" 
                  :text="emailModule ? 'Редактировать почту' : 'Подключить почту'" 
                  textType="none" 
                  @click="openModal"
                  ></a-button>
      <modal name="get-email" width="400" height="auto" :pivotY="0.3" :scrollable="true">
        <div :class="[$style.modal, 'flex', 'fl-dc']">
          <div :class="['flex', 'fl-sb', $style.modalHeader]">
            <p>{{emailModule ? 'Редактирование данных почты' : 'Подключение почты'}}</p>
            <a-button modificator="ordinary" name="xCircle" color="none" @click="closeModal"></a-button>
          </div>
          <form :class="['flex', 'fl-dc', 'fl-sb', $style.modalBody]" @submit.prevent="onClick" name="form">
            <m-input-group label="E-mail" name="email" type="email"></m-input-group>
            <m-input-group label="Пароль" name="password" type="password"></m-input-group>
            <m-input-group label="Imap" name="imap"></m-input-group>
            <m-input-group label="SMTP" name="smtp"></m-input-group>
            <div :class="['flex', 'fl-fe']" style="margin-top: 10px">
              <a-button modificator="ordinary" text="Отправить" color="pink"></a-button>
            </div>
          </form>
        </div>
      </modal>

      <notifications group="email" position="top center" class="mt1"/>
    </div>
  </main>
</template>

<script type="text/javascript">
import mInputGroup from 'Molecules/inputGroup'
import eventBus from 'EventBus'

export default {
  name: 'checkEmail',
  props: {
    emailModule: Object
  },
  methods: {
    closeModal () {
      this.$modal.hide('get-email')
    },
    openModal () {
      this.$modal.show('get-email')
    },
    onClick () {
      this.$api.getEmails(this.userData)
        .then(res => {
          this.closeModal()
          this.$notify({
            group: 'email',
            type: 'success',
            text: 'Данные успешно сохранены',
            speed: 1000
          })
        })
        .catch(err => {
          this.$notify({
            group: 'email',
            type: 'error',
            text: 'Введите корректные данные',
            speed: 1000
          })
        })
    }
  },
  sockets: {
    ticketFromEmailAdded (data) {
      if (this.$auth.currentUser().company === data.client.company) {
        this.$store.dispatch('addNewTicket', data)
      }
    }
  },
  data () {
    return {
      userData: {
        email: '',
        password: '',
        imap: '',
        smtp: ''
      }
    }
  },
  beforeMount () {
    eventBus.$on('inputChange', data => {
      this.userData[data.name] = data.value
    })
  },
  components: {
    mInputGroup
  }
}
</script>
