.modal {
  height: 100%;

  &--header {
    color: #fff;
    padding: 0 20px;
    line-height: 3;
    background: var(--color-background)
  }

  &--body {
    padding: 20px;
    flex-grow: 1;

    &--label {
      display: block;
      margin-bottom: 10px;
      margin-top: 10px;
      color: var(--color-text-secondary);
      font-weight: 300;
    }
  }
}