<style src="./style.css" module></style>

<template>
		<input :placeholder="placeholder"
					 :class="[$style.input]"
					 :value="value"
					 :name="name"
					 :type="type"
					 @change="onChange">
</template>

<script>
import eventBus from 'EventBus'
export default {
  name: 'aInput',
  props: {
    propType: String,
    value: {
      type: String,
      default: ''
    },
    placeholder: String,
    name: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    }
  },
  methods: {
    onChange (e) {
      // this.$emit('change', { value: e.target.value, name: e.target.name })
      eventBus.$emit('inputChange', { value: e.target.value, name: e.target.name })
    }
  }
}
</script>
