.input {
	border: none;
	border-bottom: 1px dashed var(--color-grey);
	color: var(--color-text-main);
	background: transparent;
	font-size: 13px;
	font-family: inherit;
	line-height: 1.5em;
	font-weight: 300;

	&::placeholder {
		color: var(--color-grey);
	}

	&:hover, &:focus {
		border-color: var(--color-red);
	}
	&:focus {
		color: var(--color-red);
	}

	&[block] {
		display: block;
		width: 100%;
	}
}
