.group {
  position: relative;
  display: block;

  &--label {
    display: block;
    margin-bottom: 10px;
    color: var(--color-text-secondary);
    font-weight: 300;
  }

  &--error {
    position: absolute;
    background: rgb(171, 45, 45);
    color: #fff;
    font-weight: 300;
    /*line-height: inherit;*/
    padding: 10px 5px;
    display: block;
    right: 0;
    top: calc(2em + 25px);

    &:before {
      content: "";
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom-color: rgb(171, 45, 45);
      position: absolute;
      top: -10px;
      left: 50%;
    }
  }
}
