<style src="./style.css" module></style>

<template>
  <main>
    <div style="padding: 0 60px;">
      <m-logo :class="[$style.logo, 'flex fl-fs']"></m-logo>
      <div :class="$style.notification">
        <span v-if="unread.length > 0">{{unread.length}}</span>
        <a-menu-button name="notification" @click="openNotification"></a-menu-button>
      </div>
      <m-notification v-if="notificationOpen" :notifications="notifications"></m-notification>
      <div :class="$style.tickets">
        <m-menu type="client"></m-menu>
        <div style="width: 100%;">
          <div :class="[$style.ticketsHeader, 'flex']">
            <span>Тикет #{{ticket ? ticket.number : 0}}</span>
          </div>
          <div :class="$style.ticketsList">
            <o-ticket-window-client :ticket="ticket" :class="$style.ticketsListLeft"></o-ticket-window-client>
          </div>
        </div>
      </div>
      <m-footer :class="$style.footer"></m-footer>
    </div>
  </main>
</template>

<script type="text/javascript">
import oTicketWindowClient from 'Organisms/ticketWindowClient'
import mLogo from 'Molecules/logo'
import mFooter from 'Molecules/footer'
import mMenu from 'Molecules/menu'
import mNotification from 'Molecules/notification'

export default {
  name: 'OneTicketClient',
  data () {
    return {
      notificationOpen: false
    }
  },
  computed: {
    ticket () {
      return this.$store.getters.getOneTicketById(this.$route.query.ticket)
    },
    notifications () {
      return this.$store.getters.getNotifications
    },
    unread () {
      return this.$store.getters.getUnread()
    }
  },
  methods: {
    openNotification () {
      this.notificationOpen = !this.notificationOpen
      if (this.unread.length > 0) {
        this.$api.changeUnread(this.unread).then((data) => { this.$store.commit('changeUnread', { ids: data.data }) })
      }
    }
  },
  sockets: {
    notificationAdded (data) {
      if (data.user[0]._id === this.$auth.currentUser().id) {
        this.$store.commit('addNewNotification', data)
      }
    }
  },
  components: {
    mLogo,
    mFooter,
    mMenu,
    oTicketWindowClient,
    mNotification
  }
}
</script>
