.tickets {
  display: inline-flex;
  width: 100%;
  /*height: 670px;*/
  min-height: 670px;
  height: auto;
  /*max-height: 670px;*/
  font-family: inherit;

  &--list {
    display: inline-flex;
    width: 100%;
    min-height: 87.7%;
    background: var(--color-grey-light);
    padding: 0px 25px 25px;

  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 30px 25px;
    color: var(--color-text-secondary);
    font-weight: 300;
    font-size: 2.3em;
  }
}

.logo {
  padding: 32.5px 60px;
}
.footer {
  padding: 17.5px 0;
}

.notification {
  position: absolute;
  top: 40px;
  right: 110px;

  & span {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
    color: var(--color-pink);
    font-size: 9px;
    font-weight: 300;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 10px;
  }
}
