.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  opacity: 0;

  &--label {
    cursor: pointer;
  }

  &--icon {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    vertical-align: bottom;

    &--default {
      background-color: #fff;
      border: 0.972px solid rgb(153, 153, 158);
      border-radius: 2px;

      &:before {
        content: "";
        display: inline-block;
        transform: rotate(45deg);
        height: 8px;
        width: 4px;
        background: transparent;
        border: 1px solid #fff;
        border-top: 0;
        border-left: 0;
        position: absolute;
        top: 0;
        left: 3px;
      }

      &:after {
        content: "";
        display: inline-block;
        height: 8px;
        width: 4px;
        background: transparent;
        border-top: 0;
        border-left: 0;
      }
    }

    &--star {
      color: var(--color-background);
      position: relative;
    }
  }
  &:checked + &--icon {
    background-color: rgb(153, 153, 158);
  }

  &:checked + &--icon:before {
    border-color: #fff;
  }
}

.popover {
  position: absolute;
  width: 80px;
  background: #8BC34A;
  top: -25px;
  left: -37.5px;
  border-radius: 3px;
  line-height: 1.4;
  height: 1.4em;
  text-align: center;
  color: #fff;
  font-family: var(--main-font);
  font-size: 11px;

  &:after {
    content: "";
    border: 5px solid transparent;
    border-top-color: #8BC34A;
    width: 0;
    position: absolute;
    bottom: -8px;
    left: 50%;
  }
}
