<style src="./style.css" module></style>

<template>
  <main>
    <div style="padding: 0 60px;">
      <m-logo :class="[$style.logo, 'flex fl-fs']"></m-logo>
      <div :class="$style.notification">
        <span v-if="unread.length > 0">{{unread.length}}</span>
        <a-menu-button name="notification" @click="openNotification"></a-menu-button>
      </div>
      <m-notification v-if="notificationOpen" :notifications="notifications"></m-notification>
      <div :class="$style.tickets">
        <m-menu type="company"></m-menu>
        <div style="width: 95.5%;">
          <div :class="$style.ticketsHeader">
            <div :class="$style.ticketsHeaderFirst">
              <div :class="$style.ticketsHeaderFirstNav">
                <span>{{ currentPage === 'open' ? 'Новые заявки' : currentPage === 'pending' ? 'Заявки в ожидании' : 'Закрытые заявки' }}</span>
                <m-navigation :class="$style.ticketsHeaderFirstNavBtn"></m-navigation>
              </div>
              <div :class="$style.ticketsHeaderFirstSearch">
                <a-input block></a-input>
              </div>
            </div>
            <div :class="[$style.ticketsHeaderSecond, 'flex fl-aic']"> <div></div> Количество заявок: {{tickets.length}}</div>
          </div>
          <div :class="$style.ticketsList">
            <o-ticket-list :class="$style.ticketsListLeft" :tickets="tickets"></o-ticket-list>
            <o-history-list :class="$style.ticketsListRight" type="staff"></o-history-list>
          </div>
        </div>
      </div>
      <m-footer :class="$style.footer"></m-footer>
      <notifications group="auth" position="top center"/>
    </div>
  </main>
</template>

<script type="text/javascript">
import mMenu from 'Molecules/menu'
import mNotification from 'Molecules/notification'
import mNavigation from 'Molecules/navigation'
import mFooter from 'Molecules/footer'
import mLogo from 'Molecules/logo'
import oTicketList from 'Organisms/ticketList'
import oHistoryList from 'Organisms/historyList'
import eventBus from 'EventBus'

export default {
  name: 'TicketsList',
  data () {
    return {
      notificationOpen: false
    }
  },
  computed: {
    tickets () {
      return this.$store.getters.getTicketsByType()
    },
    currentPage () {
      return this.$store.getters.getCurrentPage
    },
    notifications () {
      return this.$store.getters.getNotifications
    },
    unread () {
      return this.$store.getters.getUnread()
    }
  },
  mounted () {
    eventBus.$on('signupSuccess', () => {
      this.$notify({
        type: 'success',
        text: 'Вы зарегались успешно',
        speed: 300
      })
    })
  },
  methods: {
    openNotification () {
      this.notificationOpen = !this.notificationOpen
      if (this.unread.length > 0) {
        this.$api.changeUnread(this.unread).then((data) => { this.$store.commit('changeUnread', { ids: data.data }) })
      }
    }
  },
  sockets: {
    notificationAdded (data) {
      if (data.user[0]._id === this.$auth.currentUser().id) {
        this.$store.commit('addNewNotification', data)
      }
    },
    ticketFromEmailAdded (data) {
      if (this.$auth.currentUser().company === data.client.company) {
        this.$store.dispatch('addNewTicket', data)
      }
    },
    ticketFromEmailChanged (data) {
      if (this.$auth.currentUser().company === data.client.company) {
        this.$store.commit('changeTicket', { ticket: data })
        eventBus.$emit('ticketReplyed', data._id)
      }
    }
  },
  components: {
    mMenu,
    oTicketList,
    mFooter,
    mLogo,
    oHistoryList,
    mNavigation,
    mNotification
  }
}
</script>
