.tickets {
  display: inline-flex;
  width: 100%;
  height: calc(100vh - 150px);
  font-family: inherit;

  &--list {
    display: inline-flex;
    width: 100%;
    height: calc(100% - 122px);
    background: var(--color-grey-light);
    padding: 0 25px 25px;

    &--left {
      width: 80%;
    }

    &--right {
      width: 20%;
    }
  }

  &--header {
    width: 100%;
    background: var(--color-grey-light);
    padding: 20px 25px 0;
    color: var(--color-grey-first);
    font-weight: 300;

    &--first {
      display: inline-flex;
      padding: 20px;
      width: 100%;

      &--nav {
        width: 75%;
        display: inline-flex;

        & span {
          font-size: 2.3rem;
        }

        &--btn {
          margin-top: 3px;
        }
      }

      &--search {
        width: 25%;
      }
    }

    &--second {
      padding: 10px 0;

      & div {
        width: 5px;
        height: 5px;
        border-radius: 2px;
        background-color: #72db34;
        margin: 0 5px 0 10px;
      }
    }
  }

}

.logo {
  padding: 32.5px 60px;
}
.footer {
  padding: 17.5px 0;
}

.notification {
  position: absolute;
  top: 50px;
  right: 110px;

  & span {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    padding: 2px;
    color: var(--color-pink);
    font-size: 9px;
    font-weight: 300;
    display: inline-block;
    width: 14px;
    height: 14px;
    text-align: center;
    line-height: 10px;
  }
}
