<style src="./style.css" module></style>

<template>
  <button @click="onClick" 
          :class="[$style.menu, getStyle, {'button-active' : active}]" 
          type="button">
<!--   <button @click="onClick" 
          :class="[$style.menu, getStyle, {'button-active' : active, [$style.menuIcon]: (name === 'myTickets' || name === 'addTicket')}]" 
          type="button"> -->
  </button>
</template>

<script type="text/javascript">
export default {
  name: 'aMenuButton',
  props: {
    type: String,
    name: {
      type: String,
      default: ''
    },
    active: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    getStyle () {
      const styleMap = {
        'open': this.active ? this.$style.menuAllActive : this.$style.menuAll,
        'pending': this.active ? this.$style.menuPendingActive : this.$style.menuPending,
        'closed': this.active ? this.$style.menuClosedActive : this.$style.menuClosed,
        'add': this.active ? this.$style.menuAddActive : this.$style.menuAdd,
        'settings': this.active ? this.$style.menuSettingsActive : this.$style.menuSettings,
        'exit': this.active ? this.$style.menuExitActive : this.$style.menuExit,
        'notification': this.$style.menuNotification
      }
      return styleMap[this.name]
    }
  },
  methods: {
    onClick () {
      this.$emit('click')
    }
  }
}
</script>
