.menu {
  padding: 25.5px;
 /* width: 51px;
  height: 51px;*/
  border-radius: 3px 0 0 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 35px;

/*  &--icon {
    padding: 14px;
    font-size: 32px;
  }*/

  &--all {
    background-image: url(/images/all_tickets_white.svg);
    
    &--active {
      background-image: url(/images/all_tickets_black.svg);
    }
  }

  &--pending {
    background-image: url(/images/inprocess_tickets_white.svg);

    &--active {
      background-image: url(/images/inprocess_tickets_black.svg);
    }
  }

  &--closed {
    background-image: url(/images/closed_tickets_white.svg);

    &--active {
      background-image: url(/images/closed_tickets_black.svg);
      
    }
  }

  &--add {
    background-image: url(/images/new_tickets_white.svg);

    &--active {
      background-image: url(/images/new_tickets_black.svg);
      
    }
  }

  &--settings {
    background-image: url(/images/settings_white.svg);

    &--active {
      background-image: url(/images/settings.svg);
      
    }
  }

  &--exit {
    background-image: url(/images/exit_white.svg);

    &--active {
      background-image: url(/images/exit.svg);
      
    }
  }

  &--notification {
    background-image: url(/images/ring.svg);
    padding: 10px;
    background-size: 20px;

    &:hover {
      opacity: 0.7;
    }
  }
}

:global .button-active {
  background-color: var(--color-grey-light);
}