<style src="./style.css" module></style>
  <template>
    <div :class="[$style.history]">
      <div :class="$style.historyDate">
        <a-date modificator="grey" format="L LT" :date="history.date"></a-date>
      </div>
      <div :class="$style.historyText">
        {{currentUser.id === history.user._id ? 'Вы' : history.user.username + ' | ' + history.user.name}}
        {{' ' + history.text[0] + ' '}} 
        <a-link :text="'#' + history.ticket.number" color="pink" type="main"></a-link> 
        <span> | {{history.ticket.ticketTitle}}</span>{{history.text[1] ? ' ' + history.text[1] : ''}}
      </div>
    </div>
  </template>

<script type="text/javascript">
export default {
  name: 'mActionHistoryClient',
  props: {
    history: {
      type: Object,
      default: () => {
        return {
          user: {
            username: '',
            name: ''
          },
          ticket: {},
          text: ''
        }
      }
    }
  },
  computed: {
    currentUser () {
      return this.$auth.currentUser()
    }
  }
}
</script>