<style src="./style.css" module></style>

<template>
  <a :class="[$style.tag]" :href="link">{{text}}</a>
</template>

<script type="text/javascript">
export default {
  name: 'aTag',
  props: {
    text: String,
    link: String
  }
}
</script>
