.tag  {
  font-size: 10px;
  color: #a5a5a5;
  text-decoration: none;
  text-transform: uppercase;

  padding-left: 7px;

  &[header] {
    font-size: 14px;
    padding-left: 0;
    margin-right: 7px;

    &[active] {
      color: var(--color-bg-green);
      border-bottom: 1px solid var(--color-bg-green);
    }
  }
}