<style src="./style.css" module></style>

<template>
  <div :class="$style.history">
    <div :class="[$style.historyTitle, {'pv3': type === 'profile'}]">
      {{ type === 'profile' ? 'История изменения данных ' : 'История'}}
    </div>
    <div :class="$style.historyList">
      <div v-if="(histories.length === 0 && type !== 'profile') && (historyList.length === 0 && type === 'profile')" class="flex fl-c" style="font-size: 14px; color: #929292">
        <h4>Нет историй</h4>
      </div>
      <m-action-history-client v-for="history in histories" :key="history._id" :history="history" v-if="type === 'client' && histories"></m-action-history-client>
      <m-action-history v-for="history in histories" :key="history._id" :history="history" v-if="type === 'staff' && histories"></m-action-history>
      <m-action-profile v-for="history in histories" :key="history._id" :history="history" v-if="type === 'profile' && !showSecond && histories"></m-action-profile>
      <m-action-profile v-for="history in historyList" :key="history._id" :history="history" v-if="type === 'profile' && showSecond && historyList"></m-action-profile>
    </div>
  </div>
</template>

<script>
import mActionHistory from 'Molecules/actionHistory'
import mActionHistoryClient from 'Molecules/actionHistoryClient'
import mActionProfile from 'Molecules/actionProfile'

export default {
  name: 'oHistoryList',
  props: {
    type: {
      type: String,
      default: 'staff'
    }
  },
  data () {
    return {
      historyList: [],
      showSecond: false
    }
  },
  computed: {
    histories () {
      return this.$store.getters.getAllActions(this.type)
    },
    currentUser () {
      return this.$auth.currentUser()
    }
  },
  sockets: {
    historyStaffAdded (data) {
      this.$store.commit('addHistoryStaff', data)
    },
    historyClientAdded (data) {
      this.$store.commit('addHistoryClient', data)
    },
    profileHistoryAdded (data) {
      if (this.type === 'profile' && this.$route.params.id && this.$route.params.id !== this.currentUser.id) {
        this.historyList.unshift(data)
      } else {
        this.$store.commit('addHistoryProfile', data)
      }
    }
  },
  beforeMount () {
    if (this.type === 'profile' && this.$route.params.id && this.$route.params.id !== this.currentUser.id) {
      this.showSecond = true
      this.$api.getHistoryProfile(this.$route.params.id)
        .then(res => {
          this.historyList = res.data
        })
    }
  },
  components: {
    mActionHistory,
    mActionHistoryClient,
    mActionProfile
  }
}
</script>