<style src="../style.css" module></style>

<template>
  <div :class="$style.ticketsBodyPersonal">
    <div :class="[$style.ticketsList, 'flex']">
      <div class="flex fl-dc" style="width: 80%;">
        <div :class="[$style.bread, 'flex', 'fl-aic', 'pl2']">
          <a-button name="arrowLeft"
                    color="greyLight"
                    modificator="ordinary"
                    @click="goBack"
                    ></a-button>
        </div>
        <div :class="$style.personal">
          <div :class="[$style.personalHeader, 'ph5', 'pv2', 'flex']">
            <div :class="[$style.personalAvatar, 'mr2']">
              <img :src="user.avatar" alt="Аватар">
              <div :class="['flex', 'fl-sa', 'fl-aic']">
                <input type="file" style="display: none" id="file"  accept="image/*" @change="loadFile">
                <a-button color="none" name="cog" modificator="ordinary" @click="openFile"></a-button>
                <a-button v-if="!isImagePresent" color="none" name="trash" modificator="ordinary" @click="deleteImage"></a-button>
              </div>
            </div>
            <div :class="['flex', 'fl-dc', 'fl-sb', $style.personalHeaderInfo]">
              <div class="">
                <p>{{user.name}}</p>
                <p>{{user.username}}</p>
              </div>
              <div>
                <p v-if="user.type === 'employee'">{{user.position || 'Должность не назначена'}}</p>
                <p v-else>{{getCityAndState || '---'}}</p>
                <p>{{user.email}}</p>
              </div>
            </div>
          </div>
          <div :class="['ph5', 'flex', 'pt1']">
            <form @submit.prevent="update">
              <m-input-group name="name" label="Имя" width="300px" :value="user.name"></m-input-group>
              <m-input-group v-if="user.type === 'employee'" name="position" label="Должность" :value="user.position"></m-input-group>
              <m-input-group v-if="user.type === 'client'" name="state" label="Страна" :value="user.state"></m-input-group>
              <m-input-group v-if="user.type === 'client'" name="city" label="Город" :value="user.city"></m-input-group>
              <m-input-group name="email" label="Электронная почта" :value="user.email"></m-input-group>
              <a-button :class="['mb3']" modificator="ordinary" color="pink" text="Сохранить"></a-button>
            </form>
          </div>
        </div>
      </div>
      <o-history-list :class="$style.history" type="profile"></o-history-list>

    </div>
    <modal name="upload-photo" width="340" height="425">
      <div :class="[$style.modal, 'flex', 'fl-dc']">
        <div :class="['flex', 'fl-sb', $style.modalHeader]">
          <p>Загрузка фото</p>
          <a-button modificator="ordinary" name="xCircle"  color="none"></a-button>
        </div>
        <div :class="['flex', 'fl-dc', 'fl-sb', 'fl-aic', $style.modalBody]">
          <img :src="imageSrc" alt="Preview image" :class="$style.personalImage">
          <div :class="['flex', 'fl-sa']">
            <a-button modificator="ordinary" text="сохранить" color="pink" class="mh1" @click="uploadFile"></a-button>
            <a-button modificator="ordinary" text="отмена" color="grey" class="mh1" @click="closeModal"></a-button>
          </div>
        </div>
      </div>
    </modal>
    <notifications group="avatar" position="top center" class="mt1"/>
    <notifications group="clients" position="top right" class="mt1"/>

  </div>
</template>
<script>
import eventBus from 'EventBus'
import mInputGroup from 'Molecules/inputGroup'
import oHistoryList from 'Organisms/historyList'

export default {
  name: 'pOneClient',
  computed: {
    isImagePresent () {
      return this.user && this.user.avatar === '/images/photo-placeholder.png'
    },
    getCityAndState () {
      let msg = ''
      if (this.user.city) {
        msg += this.user.city
        if (this.user.state) {
          msg += `, ${this.user.state}`
        }
      }
      return msg
    }
  },
  data () {
    return {
      user: '',
      avatar: '',
      formData: {
        name: '',
        email: '',
        position: '',
        city: '',
        country: ''
      },
      uploadedPhoto: '',
      imageSrc: ''
    }
  },
  methods: {
    update () {
      this.$api.updateUser(this.$route.params.id, this.formData)
        .then(({ data }) => {
          this.$notify({
            group: 'clients',
            type: 'success',
            text: data.message,
            speed: 300
          })
          // profile history
          var h = []
          var tempObj = {}
          var tempString = ''
          var tempString2 = ''
          Object.keys(this.formData).map((key) => {
            if (this.formData[key] !== '') {
              switch (key) {
                case 'name': tempString = 'изменили имя с'
                  tempString2 = 'изменил/а имя с'
                  break
                case 'username': tempString = 'изменили ID с'
                  tempString2 = 'изменил/а ID с'
                  break
                case 'email': tempString = 'изменили электронный адрес с'
                  tempString2 = 'изменил/а адрес с'
                  break
                case 'position': tempString = 'изменили должность c'
                  tempString2 = 'изменил/а должность c'
                  break
              }
              tempObj = {
                user: this.$auth.currentUser().id,
                userTo: this.user._id,
                text: [tempString, 'на'],
                text2: [tempString2, 'на'],
                oldData: this.user[key],
                newData: this.formData[key]
              }
              h.push(tempObj)
            }
          })
          this.$socket.emit('addProfileHistory', h)
          this.user = data.user
          this.user.company = data.user.company.name
          this.$store.dispatch('changeStates', data)
          this.$api.getTickets()
            .then(res => {
              this.$store.commit('fetchTickets', { tickets: res.data })
            })

          // notification
          var n = {
            user: [this.user._id, this.$auth.currentUser().id],
            type: 'client',
            text: ['изменил Ваши данные']
          }
          this.$socket.emit('addNotificationProfile', n)
        }).catch((err) => {
          eventBus.$emit('inputError', { ...err.response.data })
        })
    },
    goBack () {
      this.$router.go(-1)
    },
    openFile () {
      document.querySelector('#file').click()
    },
    loadFile (ev) {
      if (ev.target.files && ev.target.files[0]) {
        const reader = new FileReader()

        reader.onload = e => { this.imageSrc = e.target.result }

        reader.readAsDataURL(ev.target.files[0])
        this.uploadedPhoto = ev.target.files[0]
        this.$modal.show('upload-photo')
      }
    },
    closeModal () {
      this.$modal.hide('upload-photo')
    },
    uploadFile () {
      const data = new FormData()
      data.append('avatar', this.uploadedPhoto)
      this.$api.changeAvatar(this.$route.params.id, data)
        .then(({ data }) => {
          this.$modal.hide('upload-photo')
          this.$notify({
            group: 'avatar',
            type: 'success',
            text: 'Аватар успешно обновлен',
            speed: 300
          })
          // history
          var h = []
          var tempObj = {
            user: this.$auth.currentUser().id,
            userTo: this.user._id,
            text: ['изменили фото профиля этому пользователю'],
            text2: ['изменил Ваше фото']
          }
          h.push(tempObj)
          this.$socket.emit('addProfileHistory', h)
          this.user = data.user
          this.user.company = data.user.company.name
          this.$store.dispatch('changeStates', data)
          this.$api.getTickets()
            .then(res => {
              this.$store.commit('fetchTickets', { tickets: res.data })
            })

          // notification
          var n = {
            user: [this.user._id, this.$auth.currentUser().id],
            type: 'client',
            text: ['изменил Ваши данные']
          }
          this.$socket.emit('addNotificationProfile', n)
        })
    },
    deleteImage () {
      this.$api.deleteImage(this.user._id)
        .then(data => {
          this.$notify({
            group: 'avatar',
            type: 'success',
            text: 'Аватар успешно удален',
            speed: 300
          })

          // history
          var h = []
          var tempObj = {
            user: this.$auth.currentUser().id,
            userTo: this.user._id,
            text: ['удалили фото профиля этого пользователя'],
            text2: ['удалил Ваше фото']
          }
          h.push(tempObj)
          this.$socket.emit('addProfileHistory', h)
          this.user = data.data.user
          this.user.company = data.data.user.company.name
          this.$store.dispatch('changeStates', data.data)
          this.$api.getTickets()
            .then(res => {
              this.$store.commit('fetchTickets', { tickets: res.data })
            })

          // notification
          var n = {
            user: [this.user._id, this.$auth.currentUser().id],
            type: 'client',
            text: ['изменил Ваши данные']
          }
          this.$socket.emit('addNotificationProfile', n)
        })
    }
  },
  beforeMount () {
    this.$api.getUser(this.$route.params.id)
      .then(({ data }) => {
        this.user = data
        this.user.company = data.company.name
      })
    eventBus.$on('inputChange', data => {
      this.formData[data.name] = data.value
    })
  },
  components: {
    mInputGroup,
    oHistoryList
  }
}
</script>
