<style src="./style.css" module></style>
<template>
  <div :class="$style.history">
    <m-ticket-history v-for="ticket in tickets" :key="ticket._id" :ticket="ticket"></m-ticket-history>
  </div>
</template>

<script>
import mTicketHistory from 'Molecules/ticketHistory'
export default {
  name: 'oTicketHistoryList',
  props: {
    tickets: {
      type: Array,
      default: () => []
    }
  },
  components: {
    mTicketHistory
  }
}
</script>