<style src="./style.css" module></style>
  <template>
    <div :class="[$style.history]" v-if="!(currentUser.id !== history.user._id && history.text[0].indexOf('пароль') > -1)">
      <div :class="$style.historyDate">
        <a-date modificator="grey" format="L LT" :date="history.date"></a-date>
      </div>
      <div :class="$style.historyText">
        <span :class="$style.historyTextPink">{{currentUser.id === history.user._id ? 'Вы' : history.user.username + ' | ' + history.user.name}}</span>
        {{(currentUser.id === history.user._id) ? history.text[0] : history.text2[0]}} 
        <span>{{history.oldData ? history.oldData : ''}}</span> 
        {{history.text[1] ? ((currentUser.id === history.user._id) ? history.text[1] : history.text2[1]) : ''}}
        <span>{{history.newData ? history.newData : ''}}</span>
      </div>
    </div>
  </template>

<script type="text/javascript">
export default {
  name: 'mActionProfile',
  props: {
    history: {
      type: Object,
      default: () => {
        return {
          user: {
            username: '',
            name: ''
          },
          userTo: {
            username: '',
            name: ''
          },
          text: [],
          text2: [],
          oldData: '',
          newData: ''
        }
      }
    }
  },
  computed: {
    currentUser () {
      return this.$auth.currentUser()
    }
  }
}
</script>