.history {
  padding: 10px 20px;
  color: var(--color-grey-first);
  align-items: center;
  font-size: inherit;
  line-height: 1.3em;
  width: 100%;

  &--date {
    font-weight: 400;
  }

  &--text {
    font-weight: 300;

    & span:not(:first-child) {
      color: #000;
    }

    &--pink {
      color: var(--color-pink);
    }
  }
}