<style src="./style.css" module></style>

<template>
  <div :class="$style.history">
    <div :class="$style.historyTitle">
      История
    </div>
    <div :class="$style.historyUser">
      <m-user-info :user="ticket.client"></m-user-info>
    </div>
    <div :class="$style.historyList">
      <div :class="$style.historyListHeader">Другие тикеты</div>
      <o-ticket-history-list :tickets="tickets"></o-ticket-history-list>
    </div>
  </div>
</template>

<script>
import mUserInfo from 'Molecules/userInfo'
import oTicketHistoryList from 'Organisms/ticketHistoryList'

export default {
  name: 'oHistoryBlock',
  props: {
    ticket: {
      type: Object,
      default: () => {
        return {
          _id: '',
          client: {
            _id: ''
          }
        }
      }
    }
  },
  data () {
    return {
      tickets: []
    }
  },
  beforeMount () {
    this.tickets = this.getTickets(this.ticket)
  },
  methods: {
    getTickets (t) {
      return this.$store.getters.getTicketsOfClient(t.client._id)
    }
  },
  watch: {
    ticket: function () {
      this.tickets = this.getTickets(this.ticket)
    }
  },
  components: {
    mUserInfo,
    oTicketHistoryList
  }
}
</script>
