.history {
  font-family: inherit;
  font-size: 14px;
  background: var(--color-grey-fourth);
  color: var(--color-grey-fifth);

  &--title {
    padding: 15px 20px;
    border-bottom: 1px solid var(--color-grey-sixth);
    font-size: 15px;
    min-height: 47px;
  }

  &--user {
    padding: 10px 15px;
  }

  &--list {
    height: calc(100% - 109px);
    
    &--header {
      color: var(--color-grey-fifth);
      padding: 10px 15px;
    };
  }
}
